body {
	margin: 0 auto;
	text-align: center;
	font-family: "MyWebFont";
}

h2 {
	font-weight: normal;
	font-size: 16px;
	color: #484848;
}

.quizarea ul {
	margin: 0;
	padding: 0;
	align: left;
}

.quizarea li {
	padding: 0;
    margin: 0;
    align: left;
    list-style: none;
 
}


.quizarea .button1 {
	color: black;
	background-color: white;
	font-weight: bold;
	padding: 0 0;
	width: 300px;
}


.quizarea .container {
	width: 180px;
	margin: 0 auto;
}

#options {
	margin: 0 auto;
	align: left;
}

.next-question {
	margin-right: 10px;
}

#score {
	margin-top: 10px;
	font-size: 18px;
	
}

.quizarea {
	height: 100%;
	margin: 5% 5% 5% 5%;
}

button:disabled,
button[disabled]{
  background-color: #cccccc;
  background: #cccccc;
  color: #666666;
}

@font-face {
	
	font-family: 'MyWebFont';
	src: url('NewGotRm.ttf')  format('truetype');
}

.quizb{
	width: 100%;
	bottom: 5%;
	max-height: 20vh;
}

.quizheight{
	max-height: 75vh;
	position: relative;
	 overflow: auto;
	 font-family: 'MyWebFont1' !important;
	 display: block;
}

.quiz{height: 100%;}



/* CONTAINERS */

.quizarea .four { width: 98%;}


/* COLUMNS */

.quizarea .col {
  display: block;
  margin: 2% 1% 1% 1%;

}


.quizarea .plan input, .payment-plan input,  .payment-type input{
	display: none;
	align: left;
}

.quizarea label{
	font-weight: normal;
	position: relative;
	color: #484848;
	background-color: #ededed;
	font-size: 14px;
	text-align: left;
	height: auto;
	line-height: 20px;
	display: block;
	border: none;
	padding: 5px 0 5px 10px;
	-webkit-box-sizing: none;
	-moz-box-sizing: none;
	box-sizing: none;
	align: left;
	box-shadow: none;
	white-space: normal;
}

.quizarea .plan input:checked + label, .payment-plan input:checked + label, .payment-type input:checked + label{
	border: 1px solid #f5a138;
	/* font-weight: bold; */
}



