<?xml version="1.0" encoding="UTF-8"?><project-modules id="moduleCoreId" project-version="1.5.0">
    <wb-module deploy-name="ED-WebAPP-PROD-09282018">
        <wb-resource deploy-path="/" source-path="/WebContent" tag="defaultRootSource"/>
        <wb-resource deploy-path="/WEB-INF/classes" source-path="/src"/>
        <property name="context-root" value="ED-WebAPP-PROD-09282018"/>
        <property name="java-output-path" value="/ED-WebAPP-PROD-09282018/build/classes"/>
    </wb-module>
</project-modules>
