<div class="modal-content" style="overflow:hidden;background-color: transparent ! important;">
<div align=center style="overflow:hidden;background-color:transparent;">
<button type="button" style="margin: 15px 15px 0 0;" class="close" data-dismiss="modal" ng-click="close()" aria-label="Close"><span >&times;</span></button>
<div style="width: 77%;max-width: 84%;display: flex;">
	<img ng-click="close()" src="{{cimage}}" style="width: 100%;">
	</div>
</div>
</div>







