<div class="container" id="divID"  >

<div ng-if="showpage" style="padding: 0 0 120px 0;" ng-keypress="myFunct($event)" >
<div ng-controller="headerCtrl">
  <div ng-include="'header.html'">
  </div>
</div>
<div ng-if="!online" align=center class="offline">
<p style="color:white;margin: 16px 0 0 0;font-size:15px;font-family:MyWebFont;">You are offline. Please check your internet connectivity.</p>
</div>


<div style="height: 55px;background-color: #fff;border-bottom: 1px solid #E4E4E4;">
	<ul class="viewscrollheading" style="padding: 0;margin: 0;justify-content: center;">
	<li class="viewlistactive"
		style="padding: 8px 25px;border-bottom:2px solid #FC9842;"><a style="background-color: #E4E4E4;font-weight:normal;color:  black;" class="listinactive " 
		 > DASHBOARD  </a></li>
	<li class="listinactive"
		style="background-color: transparent; padding: 8px 25px;"><a style="font-weight:normal;"  ng-click="myprogramsfun()"
			> MY TOPICS</a></li>
	<li class= "listinactive" style="background-color: transparent; padding: 8px 25px;"><a style="font-weight:normal;" ng-click="myprogress()"
			> MY PROGRESS </a></li>
	
	</ul>	
</div>

<div align="center" style="margin: 0 0 -15px 0;">

<div align="center" >
<div style="overflow:hidden;margin: 40px 0 0 0;" class="mytopics">

<div style="width:60%;height:352px;border: 1px solid grey;border-radius: 4px;float:left;">
<div class="mydates" id="calendar" ui-calendar="uiConfig.calendar"
		ng-model="eventSources" calendar="myCalendar"></div>
		</div>
		
		<div class=" bottom" 
		style="position: absolute; border: 1px solid #a6a6a6; 
		border-radius: 4px; width: 25%; margin-left: 99px; margin-top: 0px; z-index: 99; background-color: white;" ng-show="SelectedEvent.length!=0 && SelectedEvent.length!=undefined">
		
		
		<button style="margin: 5px 10px 0 0" type="button" class="close" data-dismiss="modal" ng-click="SelectedEvent.length = 0"  aria-label="Close"><span >&times;</span></button>
		<h3 class="popover-title" style="background-color: #E77C2D;color:white;" >Events</h3>
		
		<div class="popover-content" ng-repeat="se in SelectedEvent">
		<p  style="float:left;color: black;text-align: justify;font-family: MyWebFont1;">{{se.title}}</p><br>
		
		</div>
	</div>
<div style="width:35%;height:352px;border: 1px solid grey;border-radius: 4px;float:right;">

<p style="border-bottom: 1px solid grey;text-align: center;margin: 0;width: 100%;font-size: 18px;color: #484848;padding: 14px 0;font-family: MyWebFont1;background-color: #E4E4E4;border-radius: 2px 2px 0px 0px;">My Topics</p>

<p style="margin:0px 0px 0 0px;font-size:16px;color:#484848;border-bottom:1px solid grey;padding: 35px 0;font-family:MyWebFont1;">
<img src="lib/images/notstarted.png" style="width: 28px;margin: -4px 15px 0 0;"> Not started: &nbsp <span style="font-weight:bold;">{{assignedprograms}}</span></p>

<p style="margin:0px 0px 0 0px;font-size:16px;color:#484848;border-bottom:1px solid grey;padding:  35px 0;font-family:MyWebFont1;">
<img src="lib/images/inprogress.png" style="width: 28px;margin: -4px 15px 0 0;"> In-progress:&nbsp&nbsp  <span style="font-weight:bold;">{{myprograms}}</span></p>

<p style="margin:0px 0px 0 0px;font-size:16px;color:#484848;padding: 35px 0;font-family:MyWebFont1;">
<img src="lib/images/tcompleted.png" style="width: 28px;margin: -4px 15px 0 0;"> Completed:&nbsp &nbsp <span style="font-weight:bold;">{{compprograms}}</span></p>
</div>



</div>
</div>

<div align="center">
<div  class="mytopics">
<div align="left">
<h3 style="font-size:20px;width: 50%;padding-bottom:6px; color:#484848;text-align:left;margin:00px 0 0 0;font-family:MyWebFont1;background:
    linear-gradient(
      to right, 
      #808080 40%,
      #EBEBEB 100%
    )
    left 
    bottom
    transparent
    no-repeat; 
  background-size:100% 1px; ">Most Popular Topics</h3>
  </div>
<slick dots="false" infinite="false" speed="500" slides-to-show="{{nooftopics}}" touch-move="true" slides-to-scroll="1">
<div ng-repeat="program in programs" class="topics1">
<button  ng-disabled="!online" ng-click="openprogram(program);" style="width:100%;border:none;border-radius:15px;background-color:#fff;padding:0;">
<div class="timage">
<img  src="{{program.programimg}}" alt="Topic Image" style="border-top-right-radius: 15px;border-top-left-radius: 15px;width:100%;height:125.5px;margin-bottom:10px;cursor:pointer;object-fit:cover"> 
</div>
<div class="tfooter" style="margin:10px 12px !important;">
<!-- <p style="float: left;font-family:MyWebFont1;"><img style="float: left;height: 38px;margin-left: -38px;" src="lib/images/JSSAHER.png"></p> -->
<p style="float: right;font-size: 12px;font-family:MyWebFont1;color:#484848;padding: 2px 0px;"><img src="lib/images/timer.png" class="timerimg1" style="margin: 3px 4px  0 0;">{{program.tduration}} m</p>
</div>
<div class="theader" style="margin:0 12px;">
<p><a align="left" style="color:#484848;font-size:16px;font-family:MyWebFont1;">{{program.ttitle}}</a></p>
<!-- <p align="left" style="color: #717171;font-size: 13px;font-family: MyWebFont1;">{{program.tdescription}} </p> -->
</div>

</button>
 </div>

</slick>
</div>

<div align="center">
<div ng-if="notoptopics" class="mytopics">
<div align="center" style="width:100%;margin: 30px 0;">
<p style="color:grey;font-size:20px;">No Data</p>
</div>
</div>
</div>

</div>

</div>

<div  ng-if="errorpage" align=center class="col-12" >
<div ng-if="!online" align=center class="offline">
<p style="color:white;margin: 16px 0 0 0;font-size:15px;font-family:MyWebFont;">You are offline. Please check your internet connectivity.</p>
</div>
<!-- <p style="margin: 25% 0 0 0;font-size:18px; ">Oops!!! Something went wrong please reload the page.</p> -->
<p ng-if="!online" style="margin: 25% 0 0 0;font-size:18px; ">Oops!!! Internet connectivity was lost during page navigation. Page will be reloaded once the connectivity is restored.</p>
<p ng-if="online && othererrmsg" style="margin: 25% 0 0 0;font-size:18px; ">Oops!!! Something went wrong please reload the page.</p>
</div>


<div ng-if="showpage" class="footer">
<p style="color:#fff;float: left;line-height:20px ! important;font-size:13px; margin:21px 0 20px 50px;display: inline;">©</p>
<p style="color:#fff;float: left;line-height:20px ! important;font-size:12px; margin:20px 0 20px 3px;display: inline;">2019 EnhanzED Education (P) Ltd.</p>
<!-- <p style="color:#fff;float: right;line-height:25px ! important;font-size:12px; margin:17.5px 0px 17.5px 0px;" href="#T&C"> v 1.0.1 &nbsp</p> -->
<a style="color:#fff;float: right;line-height:25px ! important;font-size:12px; margin:17.5px 50px 17.5px 0px;" href="#privacypolicy"> Privacy Policy </a>
<p style="color:#fff;float: right;line-height:25px ! important;font-size:12px; margin:17.5px 10px 17.5px 10px;"> | </p>
<a style="color:#fff;float: right;line-height:25px ! important;font-size:12px; margin:17.5px 0px 17.5px 0px;" href="#T&C"> Terms & Conditions</a>


</div>
</div>
</div>

<div  ng-if="showapppage" class="col-12">
<div ng-include="'mobilepage.html'"></div>
</div>

