<div class="container" id="divID">

<div ng-if="showpage" style="padding: 0 0 60px 0;">
	<div ng-controller="headerCtrl">
	  <div ng-include="'header.html'">
	  </div>
	</div>
<div ng-if="!online" align=center class="offline">
<p style="color:white;margin: 16px 0 0 0;font-size:15px;font-family:MyWebFont;">You are offline. Please check your internet connectivity.</p>
</div>

<div style="height: 55px;background-color: #fff;border-bottom: 1px solid #E4E4E4;">
	<ul class="viewscrollheading" style="padding: 0;margin: 0;justify-content: center;">
	<li class="listinactive"
		style="padding: 8px 25px;background-color: transparent;"><a style="font-weight:normal;color:  black;" class="listinactive " ng-click="dashboard()"
		 > DASHBOARD  </a></li>
	<li class="listinactive"
		style=" padding: 8px 25px;background-color: transparent;"><a style="color: black;font-weight:normal;"  ng-click="myprograms()"
			> MY TOPICS</a></li>
	<li class="viewlistactive"
		style=" padding: 8px 25px;"><a style="color: black;font-weight:normal;"  
			> DISCUSSIONS</a></li>
	<li class= "listinactive" style=" padding: 8px 25px;">
	<a style="font-weight:normal;color: black;" ng-click="myprogress()"
			> MY PROGRESS </a></li>
	
	</ul>	
</div>

<div ng-if="!applist"> 
<a href="" ng-click="backbtn()"><img src="lib/images/wback.png" class="photo"></a>
</div>
<div style="padding: 10px 16% 45px 16%;">
<div style="margin: 0px 0 20px 0;background-color:#fff;padding: 0px 4px 4px 4px;" >
    
  	<div class="tabledesc" ng-style=" (program.discussion == undefined || program.discussion.length == 0)  ? {'margin':'10px 0 0px 0'}  : {'margin':'10px 0 100px 0'}"
				style="max-width: 60%; min-width: 900px; font-size: 16px; padding: 24px 17px 13px 60px;background-color: #fff;  color: white; border: 1px solid #fff;"
				ng-if="enrolled && discussiontb" align="left"
				ng-if="program.discussion != undefined && program.discussion.length != 0 && program.discussion != null"
				ng-repeat="cat in categories">
              <div id="loadImg" ng-if="!discussionvar" ><div><img style="width: 850px;height: 300px;margin: -1% 0px 0 -1%;position: absolute;z-index: 201" src="lib/images/loading.gif" /></div></div>
				<div style="padding: 7px 8px 7px 18px;text-align: left;display: flex;flex-wrap: nowrap;align-items: center;background-color: #13316C;margin: 0 0px 0 -43px;
border-radius: 4px;">
					<p style="width: 85%;float: left;margin: 0;color: #fff;font-size: 18px;">{{cat.cname}}</p>
					<button class="progenrolbutton"
                        style=" width: 0%;  min-width: 130px;font-size: 14px;"
                        ng-click="getQuestion()">Post Question</button>
				</div>
				<!-- <button class="progenrolbutton" style="float: middle; width: 0%;"
					ng-click="savePayment()">Pay</button>  -->


				<div class="panel panel-default"
					ng-if="program.discussion != undefined && program.discussion.length != 0 && program.discussion != null"
					ng-repeat="(ind ,qu) in program.discussion"
					is-open="qu.open"
					style="margin: 13px -16px -12px -59px; font-size: 14px; padding: 4px 5px; word-wrap: break-word; color: #484848;border-radius:0px; font-family: 'MyWebFont1';">
					<div class="panel-heading" >
						<div style="float: left; width: 59px;">
							<img src="lib/images/pic1.png"
								width="40px;background-color: burlywood;"
								style="height: 40px; margin-top: -2.5px; margin-left: 8px;"></img>
						</div>
						<h4 class="panel-title">
							<div style="margin-right: 5px;">
								
								
								<button class="btn" href="" ng-if="emailid == qu.emailId"
									style="float: right; margin-right: 5px; margin-top: -3px;" 
									ng-click="deleteQuetion(qu)"  >
									<img src="lib/images/deleteicon.png"
										style="width: 13px; height: 13px" />
								</button>
								
							
								<button class="btn" 
									style="float: right; margin-right: 0px; margin-top: -2px; font-size: 12px"
									data-toggle="collapse" href="#{{qu.qid}}"  ng-click="rotateImg = !rotateImg" >
									<img src="lib/images/arrowdown.png" ng-class="{'rotate': rotateImg}"
										style="width: 20px; height: 20px;margin-left: -2px;"  /> <!-- <img ng-if="aria-expanded"
										src="lib/images/arrowup.png" style="width: 20px; height: 20px" /> -->

								</button>
								
								<button class="btn" 
									style="float: right; margin-right: 0px; margin-top: -2px; font-size: 12px"
									href="" ng-click="myAns($index)">
									<img src="lib/images/re.png" style="width: 18px; height: 18px" />
								</button>
							</div>
							<h1 class="hhh1">{{qu.username}}</h1>
							<div style="margin: 0px 140px -5px 60px;">
								{{qu.question}} <span><br><button data-toggle="collapse" href="#{{qu.qid}}"  
										style="font-size: 11px; margin: 17px 4px 12px -8px; color: teal;border: none;
										background-color: white;">{{qu.answers.length}}
										answer(s)</button></span>
							</div>
							


						</h4>
					</div>
					<div id="{{qu.qid}}" class="panel-collapse collapse" style="margin-bottom: 10px;">

						<div class="panel-body"
							style=" padding: 15px 66px 0 66px; font-size: 14px;"
							ng-repeat="(aind,an) in qu.answers" is-open="an.open">
							<div style="float: left; width: 65px;">
								<img src="lib/images/pic1.png" width="35px"
									style="height: 35px; margin-top: 3.5px;margin-left: 14px;"></img>
							</div>
							<button class="btn"
								style="float: right; font-size: 12px; margin-right: -56px;"
								ng-click="deleteAnswer(ind,aind)"
								ng-if="emailid == an.emailId">
								<img src="lib/images/deleteicon.png"
									style="width: 13px; height: 13px" />
							</button>
							<div  style="margin: 0px 65px;border-bottom: 1px solid lightgray;padding-bottom: 10px;" 
							ng-class="{'lastele':$last}">
								<h1 class="hhh1">{{an.username}}</h1>

								{{an.answer}}
							</div>



						</div>
					</div>
				</div>
			

			</div>
 </div>
 


 

</div>


</div>


<div  ng-if="errorpage" align=center class="col-12" >
<div ng-if="!online" align=center class="offline">
<p style="color:white;margin: 16px 0 0 0;font-size:15px;font-family:MyWebFont;">You are offline. Please check your internet connectivity.</p>
</div>
<p ng-if="!online" style="margin: 25% 0 0 0;font-size:18px; ">Oops!!! Internet connectivity was lost during page navigation. Page will be reloaded once the connectivity is restored.</p>
<p ng-if="online && othererrmsg" style="margin: 25% 0 0 0;font-size:18px; ">Oops!!! Something went wrong please reload the page.</p>
</div>

<div ng-if="showpage" class="footer">
<p style="color:#fff;float: left;line-height:20px ! important;font-size:13px; margin:21px 0 20px 50px;display: inline;">©</p>
<p style="color:#fff;float: left;line-height:20px ! important;font-size:12px; margin:20px 0 20px 3px;display: inline;">2019 EnhanzED Education (P) Ltd.</p>
<a style="color:#fff;float: right;line-height:25px ! important;font-size:12px; margin:17.5px 50px 17.5px 0px;" href="#privacypolicy"> Privacy Policy </a>
<p style="color:#fff;float: right;line-height:25px ! important;font-size:12px; margin:17.5px 10px 17.5px 10px;"> | </p>
<a style="color:#fff;float: right;line-height:25px ! important;font-size:12px; margin:17.5px 0px 17.5px 0px;" href="#T&C"> Terms & Conditions</a>

</div>

</div>

<div  ng-if="showapppage" class="col-12">
<div ng-include="'mobilepage.html'"></div>
</div>

