<div ng-show="loading" class="loader loader-default is-active"></div>

<div  class="modal-content" >

<button id="btncls" style="margin: 10px 15px 0 0;color: black !important;" type="button" class="close" data-dismiss="modal" ng-click="close()" aria-label="Close"><span >&times;</span></button>
<div align=center>
<!--  <img src="lib/images/EnhanzED.png" class="modallogo1">-->

<div >
<p class="modaltitle" style="font-size: 21px;font-weight: normal;margin: 35px 0 6px 0px;" >Forgot Password</p>
<h4 style="font-size: 11px;color: #5c5c5c;margin: 0 0 15px 0;font-family:MyWebFont1;">Please enter your email address</h4>
<div align=left>
<p ng-if="error" style="position:fixed;font-size:11px;margin: 0px 0 0px 206px;font-family:MyWebFont1;color:red;">Please enter a valid Email </p>
</div>
<div align=left>
<p ng-if="error1 == 1" style="position:fixed;font-size:11px;margin: 0px 0 0px 105px;font-family:MyWebFont1;color:red;">Password reset attempt limit exceeded, please try after some time.</p>
</div>
<div align=left>
<p ng-if="error1 == 2" style="position:fixed;font-size:11px;margin: 0px 0 0px 223px;font-family:MyWebFont1;color:red;">Email does not exist</p>
</div>
<div align=left>
<p ng-if="error1 == 3" style="position:fixed;font-size:11px;margin: 0px 0 0px 105px;font-family:MyWebFont1;color:red;">Invalid verification code provided, please try again.</p>
</div>
<div align=left>
<p ng-if="error1 == 4" style="position:fixed;font-size:11px;margin: 0px 0 0px 105px;font-family:MyWebFont1;color:red;">Please check your internet connection!</p>
<p ng-if="error1 == 5" style="position:fixed;font-size:11px;margin: 0px 0 0px 105px;font-family:MyWebFont1;color:red;">Please Activate your Account.</p>
<p ng-if="error1 == 6" style="position:fixed;font-size:11px;margin: 0px 0 0px 105px;font-family:MyWebFont1;color:red;">User is disabled.</p>


</div>
<input style="background-image: url('lib/images/nmail.png');margin:20px 0 0 0 ! important;" class="logindetemail" type="email" ng-keypress="myFunct($event)" autofocus ng-model="email"  placeholder="Email">
</div>

<div>
<button class="signupbutton" style="margin-bottom: 30px ! important;margin-top: 20px;" type="button" ng-click="next()">Next</button>
</div>

</div>


</div>
