<div>
<header class="enheader2" ng-style="decrypt.oid == 'ENHANZED' ? {'background-color': '#434343' ,'color' :'#fff' } :{ 'background-color': '#fff' ,'color' :'#484848' }"  ondragstart="return false;" ondrop="return false;">

<div  style="width:18%;float:left;">
<img class="headerimage" ng-click="dashpage()" src="{{orgimg}}">

<!-- <img class="headerimage" ng-click="homepage()" src="lib/images/EnhanzED1.png"> -->
 </div>

<div ng-disabled="!online" class="dropdown1" style="float:left;">
  <button ng-disabled="!online" class="dropbtn"  ng-style="decrypt.oid == 'ENHANZED' ? {'background-color': '#434343' ,'color' :'#fff' } :{ 'background-color': '#fff' ,'color' :'#484848' }">Explore</button>
  <div class="dropdown-content" >
    <a style="" ng-click="search(cat)" ng-repeat="cat in cats"><div style="width: 100%;height: 100%;padding: 10px 10px;display: flex;"> <img  src="{{cat.categoryimg}}" alt="" style="width:65px;height: 44px;margin-right: 7px;"><p style="color: #484848;margin-top: 12px;"> {{cat.category}}</p></div> </a>
  </div>
</div>
<div >
<input ng-disabled="!online" class="search" ng-if="decrypt.oid == 'ENHANZED'" ng-style="decrypt.oid == 'ENHANZED' ? {'background-color': '#434343' ,'color' :'#fff' } :{ 'background-color': '#fff' ,'color' :'#484848' }" tabindex="3" style="float:left;" ng-keypress="myFunct($event, searchterm)" type="text" name="searchterm" ng-model="searchterm" placeholder="Search for Topics">
<input ng-disabled="!online" class="search1" ng-if="decrypt.oid != 'ENHANZED'" ng-style="decrypt.oid == 'ENHANZED' ? {'background-color': '#434343' ,'color' :'#fff' } :{ 'background-color': '#fff' ,'color' :'#484848' }" tabindex="3" style="float:left;" ng-keypress="myFunct($event, searchterm)" type="text" name="searchterm" ng-model="searchterm" placeholder="Search for Topics">
</div>

<div style="float:right;">

    <div class="dropdown"  >
  <button ng-disabled="!online" tabindex="5" class="btn btn-secondary dropdown-toggle" ng-style="decrypt.oid == 'ENHANZED' ? {'background-color': '#434343' ,'color' :'#fff' } :{ 'background-color': '#fff' ,'color' :'#484848' }"  style="font-size: 14px;font-family:MyWebFont1;height:36px;text-align:center;padding: 8px 0 8px 0;min-width: 152px;text-align-last: end;" type="button" id="dropdownMenuButton" data-toggle="dropdown" >
     {{username}}  <img class="userimage" src="{{imgsrc}}" alt="">
  </button>
  <div class="dropdown-menu"  aria-labelledby="dropdownMenuButton" style="border: none;border-radius: 0px;">
   <a class="dropdown-item" tabindex="6" ng-keypress="dashpage()"  ng-click="dashpage()">Dashboard</a>
  <a class="dropdown-item" tabindex="7" ng-keypress="homepage()"  ng-click="homepage()">My Topics</a>
   <a class="dropdown-item" tabindex="8" ng-keypress="progpage()"  ng-click="progpage()">My Progress</a>
   <a class="dropdown-item" tabindex="9" ng-keypress="profile()"  ng-click="profile()">My Profile</a>
    <a class="dropdown-item" tabindex="10" ng-keypress="logout()" ng-click="logout()">Signout</a>
  </div>
</div>

</div> 
  
  <div class="notification" style="float:right;">

   <div class="dropdown">
  <button ng-disabled="!online" tabindex="4" ng-click="getnotifications('read')" class="btn btn-secondary dropdown-toggle" style="border-right:1px solid #999999;font-family:MyWebFont1;height:36px;color: #999999;text-align:center;padding: 8px 0 8px 0;margin-right:4px;border-radius:0px;" ng-style="decrypt.oid == 'ENHANZED' ? {'background-color': '#434343' ,'color' :'#fff' } :{ 'background-color': '#fff' ,'color' :'#484848' }" type="button" id="dropdownMenuButton" data-toggle="dropdown">
    <img ng-if="notifications.read == 0 && decrypt.oid == 'ENHANZED'" class="notifyimage" style="height: 24px" src="lib/images/notify2.png" alt="">
    <img ng-if="notifications.read == 1 && decrypt.oid == 'ENHANZED'" class="notifyimage1" style="height: 24px"  src="lib/images/notify3.png" alt="">
    <img ng-if="notifications.read == 0 && decrypt.oid != 'ENHANZED'" class="notifyimage" style="height: 32px"  src="lib/images/notify.png" alt="">
    <img ng-if="notifications.read == 1 && decrypt.oid != 'ENHANZED'" class="notifyimage1" style="height: 32px"  src="lib/images/notify1.png" alt="">
  </button>
  <div class="dropdown-menu1" aria-labelledby="dropdownMenuButton" >
  <div>
  
  
  <button ng-repeat="msg in notify" style="width:100%;border:none;background-color:#fff;padding:5px 10px 20px 10px;border-bottom:1px solid  #d2d2d2;cursor:pointer;" ng-click="opennotification(msg)">
  
  <p style="font-size: 12px;font-family: 'MyWebFont1';margin:0;text-align:right;">{{msg.time}}</p>
  <p style="font-size: 14px;font-family: 'MyWebFont1';color:#484848;margin:0;text-align:left; word-break: break-all;">{{msg.title}}</p>
  <p style="font-size: 12px;font-family: 'MyWebFont1';margin:0;text-align:left; word-break: break-all;">{{msg.msg}}</p>

  </button>
  
  </div>
  </div>
</div>

</div>

</header>
</div>

<div ng-show="loading" class="loader loader-default is-active"></div>
<style>
.search::placeholder{
	color: #fff !important;
	opacity: 1;
}
</style>
