<div>
<header class="enheader2">
<div style="display:flex">
<div align=left style="width:18%;"><img class="headerimage" ng-click="homepage()" src="lib/images/EnhanzED.png"> </div>

<div ng-disabled="!online" class="dropdown1">
  <button ng-disabled="!online" class="dropbtn">Explore</button>
  <div class="dropdown-content" >
    <a style="" ng-click="search(cat)" ng-repeat="cat in cats">{{cat.category}}</a>
  </div>
</div>
<div align="left" style="width:70%;">
<input ng-disabled="!online" class="search" ng-keypress="myFunct($event, searchterm)" type="text" name="searchterm" ng-model="searchterm" placeholder="Search for Topics">
</div>
 <button ng-disabled="!online" class="signin" ng-click="login()">Sign In</button>   

    </div>

</div>
</header>
</div>
<div ng-show="loading" class="loader loader-default is-active"></div>

