<div class="container" id="divID"  >

<div ng-if="showpage" style="padding: 0 0 60px 0;" ng-keypress="myFunct($event)" >
<div ng-controller="headerCtrl">
  <div ng-include="'header.html'">
  </div>
</div>
<div ng-if="!online" align=center class="offline">
<p style="color:white;margin: 16px 0 0 0;font-size:15px;font-family:MyWebFont;">You are offline. Please check your internet connectivity.</p>
</div>

<!-- <div align="center">
<div style="overflow:hidden;padding:0px;"  ng-if="showtopics == true" class="mytopics">
<div align="left">
<h3 style="font-size:20px;width: 50%;padding-bottom:6px; color:#484848;text-align:left;margin:30px 0 0 0;font-family:MyWebFont1;background:
    linear-gradient(
      to right, 
      #808080 40%,
      #EBEBEB 100%
    )
    left 
    bottom
    transparent
    no-repeat; 
  background-size:100% 1px; ">My Topics</h3>
</div>
</div>
</div> -->
<div style="height: 55px;background-color: #fff;" >
	<ul class="viewscrollheading" style="padding: 0;margin: 0;justify-content: center;border-bottom: 1px solid #E4E4E4;">
	<li class="listinactive"
		style="padding: 8px 25px;background-color: transparent;"><a style="font-weight:normal;color:  black;" class="listinactive " ng-click="dashboard()"
		 > DASHBOARD  </a></li>
	<li class="viewlistactive"
		style=" padding: 8px 25px;border-bottom:2px solid #FC9842;"><a style="background-color: #E4E4E4;color: black;font-weight:normal;"  
			> MY TOPICS</a></li>
	<li class= "listinactive" style="background-color: transparent; padding: 8px 25px;"><a style="font-weight:normal;color: black;" ng-click="myprogress()"
			> MY PROGRESS </a></li>
	
	</ul>	
</div>

<div align="center" style="background-color: #fff;border-bottom: 1px solid #E4E4E4;">

<div  class="tpprogressbtn"  align="left">

<!-- 	<ul class="viewscrollheading" style="padding: 0 0 17px 0;margin: 0;justify-content: center;">
	<li class='{{ notstart == true ? "applistactive" : "listinactive"}} '
		style="background-color: transparent; padding: 17px 25px;line-height: 15px;"><a style="font-weight:normal;"
		ng-click="notstarttab()" ><img src="lib/images/notstarted.png" style="width: 20px;margin-top: -4px;"> Not Started  </a></li>
	
	<li class='{{ inprogress == true ? "applistactive" : "listinactive"}} '
		style="background-color: transparent; padding: 17px 25px;line-height: 15px;"><a style="font-weight:normal;"
		ng-click="inprogresstab() "	><img src="lib/images/inprogress.png" style="width: 20px;margin-top: -4px;"> In-Progress </a></li>
	<li class='{{ tcompleted == true ? "applistactive" : "listinactive"}} '
		style="background-color: transparent; padding: 17px 25px;line-height: 15px;"><a style="font-weight:normal;"
		ng-click="completedtab()"	><img src="lib/images/tcompleted.png" style="width: 20px;margin-top: -4px;" > Completed</a></li>
	</ul> -->
	<ul class="viewscrollheading" style="padding: 0;margin: 0;justify-content: center;height: 35px;">

	<li class="notstart == true ? 'viewlistactive' : 'listinactive'}}"  ng-style="notstart == true ? {'border-bottom':'2px solid #FC9842','background-color':'#E4E4E4'} : {'background-color':'transparent'}" style=" padding: 8px 25px;line-height: 7px;">
	<a style="font-weight:normal;"  ng-click="notstarttab()"
			> NOT STARTED </a></li>
	<li class="inprogress == true ? 'viewlistactive' : 'listinactive'}}" ng-style="inprogress == true ? {'border-bottom':'2px solid #FC9842','background-color':'#E4E4E4' } : {'background-color':'transparent'}"
		style=" padding: 8px 25px;line-height: 7px;"><a style="font-weight:normal;" ng-click="inprogresstab() "
			> IN-PROGRESS</a></li>
			<li class="tcompleted == true ? 'viewlistactive' : 'listinactive'}}" 
			ng-style="tcompleted == true ? {'border-bottom':'2px solid #FC9842','background-color':'#E4E4E4' } : {'background-color':'transparent'}"
		style=" padding: 8px 10px;line-height: 7px;"><a style="font-weight:normal;min-width: 100px;text-align: center;" ng-click="completedtab()"
			> COMPLETED</a></li>
			
	</ul>	

</div>
</div>
<div align="center" >
<div style="overflow:hidden;"  ng-if="showtopics == true" class="mytopics">


<div ng-repeat="topic in topics" class="topics">
<button  ng-disabled="!online" ng-click="opentopic(topic)" style="width:100%;border:none;border-radius:15px;background-color:#fff;padding:0;">
<div class="timage" style="height: 122.5px;position: relative;text-align: center;background-color: grey;
overflow: hidden;background-image: url({{topic.topicimg}});background-size: cover;background-repeat: no-repeat;border-top-right-radius: 15px;border-top-left-radius: 15px;margin-bottom: 10px;">

<!-- <img  src="{{topic.topicimg}}" alt="Topic Image" style="border-top-right-radius: 15px;border-top-left-radius: 15px;width:100%;height:122.5px;margin-bottom:10px;cursor:pointer;"> --> 
<div ng-if="topic.duedate != undefined" class="duedate"  >
<p style="color:white;margin:0;">{{topic.duedate === 'Overdue' ? "" : "Due"}} {{topic.duedate}}</p>
</div>
</div>

<div class="theader" style="margin:0 12px;">
<p><a align="left" style="color:#484848;font-size:14px;font-family: 'MyWebFont1';">{{topic.ttitle.length > 40 ? topic.ttitle.substring(0,40) + "..." : topic.ttitle }}</a></p>
</div>

<div align=center ng-show="(topic.freenavigation == false || topic.freenavigation == 'false') && notstart == false" class="progress">
    <div class="progress-bar" role="progressbar" aria-valuenow="{{topic.completed}}%" aria-valuemin="0" aria-valuemax="100" style="width:{{topic.completed}}%">
</div>
</div>

  <div ng-show="(topic.freenavigation == true || topic.freenavigation == 'true') && notstart == false" class="progress1">
    <div class="progress-bar" role="progressbar" aria-valuenow="100%" aria-valuemin="0" aria-valuemax="100" style="width:100%;background-color: white;color: white;">
</div>
  </div>

<div class="tfooter " style="margin:12px 12px 8px 12px !important;">
<p style="float: left;font-family: 'MyWebFont1';">{{topic.noofnuggets}} Nuggets</p>
<p style="float: right;font-size: 12px;font-family: 'MyWebFont1';"><img src="lib/images/timer.png" class="timerimg"> {{topic.tduration}} m</p>
</div>
</button>
 </div>

</div>
</div>

<div align="center">
<div ng-if="showtopics == false" class="mytopics">

<!-- <div align="left">
<h3 style="font-size:20px;width: 50%;padding-bottom:6px; color:#484848;text-align:left;margin:30px 0 0 0;font-family:MyWebFont1;background:
    linear-gradient(
      to right, 
      #808080 40%,
      #EBEBEB 100%
    )
    left 
    bottom
    transparent
    no-repeat; 
  background-size:100% 1px; ">My Topics</h3>
  </div> -->
<div align="center" class="notopic" >
<img  src="lib/images/nothing-here-icon.png" alt="Topic Image" style="border-radius: 15px;opacity: 0.2;"> 
<!-- <p style="color:grey;font-size:20px;">Get back to life by subscribing to new topics now!</p> -->
<p style="color: #484848;font-size: 14px;margin-top: -120px;font-family: 'MyWebFont1';">There's nothing here, yet.</p>
</div>
</div>
</div>


<div ng-if="noassignedtopics" align="center">
<div style="overflow:hidden;"  class="mytopics">
<div align="left">
<h3 style="font-size:20px;width: 50%;padding-bottom:6px; color:#484848;text-align:left;margin:0px 0 0 0;font-family:MyWebFont1;background:
    linear-gradient(
      to right, 
      #808080 40%,
      #EBEBEB 100%
    )
    left 
    bottom
    transparent
    no-repeat; 
  background-size:100% 1px; ">Assigned to me</h3>
  </div>

<div ng-repeat="topic in assignedtopics" class="topics">
<button  ng-disabled="!online" ng-click="opentopic(topic)" style="width:100%;border:none;border-radius:15px;background-color:#fff;padding:0;">
<div class="timage" style="height: 122.5px;position: relative;text-align: center;background-color: grey;
overflow: hidden;background-image: url({{topic.topicimg}});background-size: cover;background-repeat: no-repeat;border-top-right-radius: 15px;border-top-left-radius: 15px;margin-bottom: 10px;">
<!-- <img  src="{{topic.topicimg}}" alt="Topic Image" style="border-top-right-radius: 15px;border-top-left-radius: 15px;width:100%;height:122.5px;margin-bottom:10px;cursor:pointer;"> --> 
<div ng-if="topic.duedate != undefined" style="position: absolute;margin: -132px 0 0 102px;background-color: #DB5B5B;width:130px;border-radius:0 8px 0px 4px;" >
<p style="color:white;margin:0;">{{topic.duedate === 'Overdue' ? "" : "Due"}} {{topic.duedate}}</p>
</div>
</div>
<div class="theader" style="margin:0 12px;">
<p><a align="left" style="color:#484848;font-size:14px;font-family: 'MyWebFont1';">{{topic.ttitle}}</a></p>
</div>


<div class="tfooter " style="margin:12px 12px 8px 12px !important;">
<p style="float: left;font-family: 'MyWebFont1';">{{topic.noofnuggets}} Nuggets</p>
<p style="float: right;font-size: 12px;font-family: 'MyWebFont1';"><img src="lib/images/timer.png" class="timerimg"> {{topic.tduration}} m</p>
</div>
</button>
 </div>

</div>
</div>

<!-- <div align="center">
<div  class="mytopics">
<div align="left">
<h3 style="font-size:20px;width: 50%;padding-bottom:6px; color:#484848;text-align:left;margin:00px 0 0 0;font-family:MyWebFont1;background:
    linear-gradient(
      to right, 
      #808080 40%,
      #EBEBEB 100%
    )
    left 
    bottom
    transparent
    no-repeat; 
  background-size:100% 1px; ">Most Popular Topics</h3>
  </div>
<slick dots="false" infinite="false" speed="500" slides-to-show="{{nooftopics}}" touch-move="false" slides-to-scroll="1" >
<div ng-repeat="toptopic in toptopics" class="topics1">
<button  ng-disabled="!online" ng-click="opentopic(toptopic)" style="width:100%;border:none;border-radius:15px;background-color:#fff;padding:0;">
<div class="timage">
<img  src="{{toptopic.toptopicimg}}" alt="Topic Image" style="border-top-right-radius: 15px;border-top-left-radius: 15px;width:100%;height:122.5px;margin-bottom:10px;cursor:pointer;"> 
</div>
<div class="theader" style="margin:0 12px;">
<p><a align="left"  style="color:#484848;font-size:14px;font-family: 'MyWebFont1';">{{toptopic.ttitle}}</a></p>
</div>
<div class="tfooter" style="margin:10px 12px !important;">
<p style="float: left;font-family: 'MyWebFont1';">{{toptopic.noofnuggets}} Nuggets</p>
<p style="float: right;font-size: 12px;font-family: 'MyWebFont1';"><img src="lib/images/timer.png" class="timerimg"> {{toptopic.tduration}} m</p>
</div>
</button>
 </div>

</slick>
</div>

<div align="center">
<div ng-if="notoptopics" class="mytopics">
<div align="center" style="width:100%;margin: 30px 0;">
<p style="color:grey;font-size:20px;">No Data</p>
</div>
</div>
</div>

</div> -->

</div>

<div  ng-if="errorpage" align=center class="col-12" >
<div ng-if="!online" align=center class="offline">
<p style="color:white;margin: 16px 0 0 0;font-size:15px;font-family:MyWebFont;">You are offline. Please check your internet connectivity.</p>
</div>
<!-- <p style="margin: 25% 0 0 0;font-size:18px; ">Oops!!! Something went wrong please reload the page.</p> -->
<p ng-if="!online" style="margin: 25% 0 0 0;font-size:18px; ">Oops!!! Internet connectivity was lost during page navigation. Page will be reloaded once the connectivity is restored.</p>
<p ng-if="online && othererrmsg" style="margin: 25% 0 0 0;font-size:18px; ">Oops!!! Something went wrong please reload the page.</p>
</div>

<div ng-if="showpage" class="footer">
<p style="color:#fff;float: left;line-height:20px ! important;font-size:13px; margin:21px 0 20px 50px;display: inline;">©</p>
<p style="color:#fff;float: left;line-height:20px ! important;font-size:12px; margin:20px 0 20px 3px;display: inline;">2019 EnhanzED Education (P) Ltd.</p>
<!-- <p style="color:#fff;float: right;line-height:25px ! important;font-size:12px; margin:17.5px 0px 17.5px 0px;" href="#T&C"> v 1.0.1 &nbsp</p> -->
<a style="color:#fff;float: right;line-height:25px ! important;font-size:12px; margin:17.5px 50px 17.5px 0px;" href="#privacypolicy"> Privacy Policy </a>
<p style="color:#fff;float: right;line-height:25px ! important;font-size:12px; margin:17.5px 10px 17.5px 10px;"> | </p>
<a style="color:#fff;float: right;line-height:25px ! important;font-size:12px; margin:17.5px 0px 17.5px 0px;" href="#T&C"> Terms & Conditions</a>


</div>
</div>

<div  ng-if="showapppage" class="col-12">
<div ng-include="'mobilepage.html'"></div>
</div>

