<div  >
<div ng-show="loading" class="loader loader-default is-active"></div>
<div align="center" style="height:100%;width:100%;overflow:hidden;padding: 30px;">
<div class="appbox1" align="center" > 
<img class="applogo" src="lib/images/EnhanzED.png" > 
<div>
<p style="font-size:16px;margin: 0px 0 30px 0px;font-family:MyWebFont1;color:#5c5c5c;">Login to your Account</p>
</div>
<div >
<p ng-if="error == true" style="position:fixed;font-size:11px;margin: -20px 0 0px 80px;font-family:MyWebFont1;color:red;">Please enter valid Email</p>
<p ng-if="error == 3" style="position:fixed;font-size:14px;margin: -20px 0 0px 120px;font-family:MyWebFont1;color:red;">User does not exist!</p>
<p ng-if="error == 4" style="position:fixed;font-size:14px;margin: -20px 0 0px 85px;font-family:MyWebFont1;color:red;">Invalid username or password!</p>
<p ng-if="error == 5" style="position:fixed;font-size:14px;margin: -20px 0 0px 100px;font-family:MyWebFont1;color:red;">Oops! Something went wrong. Please try again in some time</p>
<p ng-if="error == 6" style="position:fixed;font-size:14px;margin: -20px 0 0px 100px;font-family:MyWebFont1;color:red;">Oops! Please check internet connectivity.</p>
<p ng-if="error == 7" style="position:fixed;font-size:14px;margin: -20px 0 0px 100px;font-family:MyWebFont1;color:red;">User is disabled.</p>
<p ng-if="error == 8" style="position:fixed;font-size:14px;margin: -20px 0 0px 100px;font-family:MyWebFont1;color:red;">User account has expired, it must be reset by an administrator.</p>
</div>
<div >
<input ng-keypress="myFunct($event)" style="background-image: url('lib/images/nmail.png');" class="logindetemail" autofocus type="email" ng-model="email" placeholder="Email">
</div>
<div >
<!-- <p ng-if="error1" style="position:fixed;font-size:11px;margin: -20px 0 0px 80px;font-family:MyWebFont1;color:red;">Password must be at least 8 characters</p> -->
<p ng-if="error2" style="position:fixed;font-size:11px;margin: -20px 0 0px 80px;font-family:MyWebFont1;color:red;">Invalid Email or Password</p>
<p ng-if="error1" style="position:fixed;font-size:11px;margin: -20px 0 0px 80px;font-family:MyWebFont1;color:red;">Please enter Password</p>
</div>
<div >
<input ng-keypress="myFunct($event)" style="background-image: url('lib/images/npwd.png');margin-bottom: 0px ! important;" class="logindet" type="password" ng-model="pwd" placeholder="Password">
</div>
<div align=right>
<button class="forgotpwdbutton" type="button" style="" ng-click="forgotpwd()">Forgot password?</button>
</div>
<div >
<button class="loginbuttonnew" type="button" ng-click="logon()">Login</button>

<button class="signupbuttonnew" type="button" ng-click="signup()">Sign Up</button>
</div>
<div >
</div>
<div align=center  ng-if="false">
<p style="font-size:13px;margin: 30px 50px 0px 50px;font-family:MyWebFont1;">Or Login With </p>
</div>
<img ng-if="false"  class='facebookimg' data-ng-show="!logged" data-ng-disabled="!facebookReady" ng-click="fbLogin()" src="lib/images/facebook.png">
<!-- <button class="facebook" data-ng-disabled="!facebookReady" ng-click="fbLogin()">Facebook</button> -->
<div >
<button class="simplebutton" type="button" ng-click="orglogin()">Have an Organization Code?</button>

</div>
</div>

</div>
</div>