<div><p style="width:80%;margin: 150px 10% 0 10%;font-size:18px;font-family:MyWebFont1; ">Download the <b>EnhanzED App</b> for the best experience on <b>Mobile</b></p>
<div align="center">
<a href='https://itunes.apple.com/in/app/enhanzed/id1312811867?ls=1&mt=8'><img style="width:130px;margin:20px 10px 0 0;" src='lib/images/iosbutton.png'></a>
<a href='https://play.google.com/store/apps/details?id=com.enhanzed.android'><img style="width:130px;margin:20px 0px 0 0;" src='lib/images/googlebutton.png'></a>
</div>
</div>