<div class="container" id="divID">

<div ng-if="showpage" style="padding: 0 0 60px 0;">
	<div ng-controller="headerCtrl">
	  <div ng-include="'header.html'">
	  </div>
	</div>
<div ng-if="!online" align=center class="offline">
<p style="color:white;margin: 16px 0 0 0;font-size:15px;font-family:MyWebFont;">You are offline. Please check your internet connectivity.</p>
</div>
<!-- <div style="min-height: 55px;border-bottom:1px solid #999999;">
	<ul class="viewscrollheading" style="padding: 0;margin: 0;justify-content: center;">
	<li class="listinactive"
		style="background-color: transparent; padding: 14px 1%;"><a style="font-weight:normal;" ng-click="dashboard()"
		 > DASHBOARD  </a></li>
	<li class="listinactive"
		style="background-color: transparent; padding: 14px 1%;min-width: 210px"><a style="font-weight:normal;" ng-click="myprograms()"
			> MY TOPICS</a></li>
	<li class= "listinactive" style="background-color: transparent; padding: 14px 1%;min-width: 165px"><a style="font-weight:normal;color: #FC9842" 
			> MY PROGRESS </a></li>
	
			
	</ul>	
</div> -->
<div style="height: 55px;background-color: #fff;border-bottom: 1px solid #E4E4E4;">
	<ul class="viewscrollheading" style="padding: 0;margin: 0;justify-content: center;">
	<li class="listinactive"
		style="padding: 8px 25px;background-color: transparent;"><a style="font-weight:normal;color:  black;" class="listinactive " ng-click="dashboard()"
		 > DASHBOARD  </a></li>
	<li class="listinactive"
		style=" padding: 8px 25px;background-color: transparent;"><a style="color: black;font-weight:normal;"  ng-click="myprograms()"
			> MY TOPICS</a></li>
	<li class="listinactive"
		style=" padding: 8px 25px;background-color: transparent;"><a style="color: black;font-weight:normal;"  ng-click="discussion()"
			> DISCUSSIONS</a></li>
	<li class= "viewlistactive" style="border-bottom:2px solid #FC9842; padding: 8px 25px;"><a style="background-color: #E4E4E4;font-weight:normal;color: black;" 
			> MY PROGRESS </a></li>
	
	</ul>	
</div>
<!-- <div style="height: 100px;text-align: left;background-color: #E77C2D;">
<p style="font-size: 30px;color: #FFF;font-family: 'MyWebFont1';padding: 26px 16%;margin: 0"> My Progress</p>
</div> -->
<div ng-if="!applist"> 
<a href="" ng-click="backbtn()"><img src="lib/images/wback.png" class="photo"></a>
</div>
<div style="padding: 10px 16% 45px 16%;">
<div ng-if="showlist" style="margin: 0px 0 20px 0;background-color:#fff;padding: 0px 4px 4px 4px;" ng-if="applist">
    
    <table ng-table="tableParams" class="table table-condensed table-bordered table-striped" align="center">
       <thead>
        <th style="border:none;"></th>
           
            <th style="border:none;float:left;font-family: MyWebFont1;font-size: 14px;">Topic Name</th>
            <th style="border:none;font-family: MyWebFont1;font-size: 14px;">Start Date</th>
            <th style="border:none;font-family: MyWebFont1;font-size: 14px;">Last Accessed</th>
            <th style="border:none;font-family: MyWebFont1;font-size: 14px;">Progress</th>
           
      </thead>
  
        <tr ng-repeat="row in $data" ng-class-odd="'odd'" ng-class-even="'even'">
       	  <td  style="width:10%;padding: 8px 0 8px 10px !important;font-family: MyWebFont1;text-align: left;color:#363636;font-size: 14px;" data-title="''" >
       	  <img class="accesskeyimg" src="{{imgurl}}{{oid}}-resources/images/topic-images/{{row.tid}}.png"></td>
          
          <td  style="width:40%;padding: 15px 0 15px 0px !important;font-family: MyWebFont1;color:#363636;text-align: left;font-size: 14px;" >
          <a ng-click="viewprogram(row)"  style="color: #363636;font-family: MyWebFont1;" >{{row.ttitle}}</a></td>
          
          <td  style="width:15%;padding: 20px 0 20px 0px !important;font-family: MyWebFont1;color:#363636;text-align: center;font-size: 14px;"  >{{row.sdate}}</td>
          
          <td  style="width:15%;padding: 20px 0 20px 0px !important;font-family: MyWebFont1;color:#363636;text-align: center;font-size: 14px;" >{{row.ldate}}</td>
                
          <td  style="width:10%;padding: 15px 0 15px 10px !important;font-family: MyWebFont1;color:#363636;text-align: center;font-size: 14px;" >
         
          <div class="clearfix" align="center">

								<div class="c100 p{{row.progress > 100 ? '100' : row.progress }} extrasmall orange">
									<span style="fontsize: 16px;">{{row.progress}}%</span>
									<div class="slice">
										<div class="bar"></div>
										<div class="fill"></div>
									</div>
								</div>
							</div>
          </td>
        
        </tr>
        <tr>
            <td ng-show="$data.length == 0" style="color: #484848;font-size: 18px;padding: 10px !important;background-color: rgb(237, 237, 237);" colspan="5">
                No Data 
            </td>
        </tr>
      
      </table>
 </div>
 
 <div ng-if="!showlist">
 
 <div style="text-align: left">
  
  <!-- <p style="float:left;font-size: 24px;color: #484848;font-family: 'MyWebFont1';padding: 0px;margin: 5px 0 15px 0;border-bottom: 1px solid #484848;"> Program Progress Report </p> -->
  <p style="font-size: 20px;color: #484848;font-family: 'MyWebFont1';padding:0px 0px 10px 0;margin: 0 ;"><img ng-click="back();" style='margin:-3px 3px 0 0;' src="lib/images/bback.png" class="wbackprog">  {{prog.ttitle}} </p>
  	<div class="ausertopic"  style="background-color:#fff;min-height: 46px;border: 1px solid #d2d2d2;border-bottom: none;">
	<!-- <button ng-click="overview = true;scores = false;" class="{{overview == true ? 'auserbactive' : 'auserbinactive'}}" > OVERVIEW </button>
	<button ng-click="overview = false;scores = true;" class="{{scores == true ? 'auserbactive' : 'auserbinactive'}}" > SCORES </button> -->
		<ul class="viewscrollheading" style="padding: 0;margin: 0;justify-content: left;border-bottom: 1px solid #d2d2d2">

	<li class="{{overview == true ? 'viewlistactive' : 'listinactive'}}"  ng-style="overview == true ? {'border-bottom':'2px solid #FC9842'} : {'background-color':'transparent'}" style=" padding: 8px 25px;line-height: 15px;">
	<a style="font-weight:normal;color: black;"  ng-click="overview = true;scores = false;"
			> OVERVIEW </a></li>
	<li class="{{scores == true ? 'viewlistactive' : 'listinactive'}}" ng-style="scores == true ? {'border-bottom':'2px solid #FC9842' } : {'background-color':'transparent'}"
		style=" padding: 8px 25px;line-height: 15px;"><a style="font-weight:normal;" ng-click="overview = false;scores = true;"
			> SCORES</a></li>
			
	</ul>
	</div>
	
		<div ng-if="overview" style="max-width: 1600px;min-width: 626px;width: 100%;border-radius: 0px 0px 8px 8px;">
		
		<div style="width: 100%;overflow:hidden;border: 1px solid #d2d2d2;border-top: none;background: #fff;">
		<div align=center style="width: 20%;border-right: 1px solid #c2c2c2;margin: 00px 0;height: 130px;float:left;">
		<img src="lib/images/video.png" width="24px" height="auto" style="margin: 10px 0 0 0;">
		<p style="margin:20px 0 0 0px;font-size: 14px;color: grey;">Videos/Audios</p>
		<p style="margin:10px 0 0 0px;font-size: 18px;color: #484848;">{{prog.vprog}} {{ prog.vprog != 'N/A' ? '%' : ''}}</p>
		</div>
		
		<div align=center style="width: 20%;border-right: 1px solid #c2c2c2;margin: 00px 0;height: 130px;float:left;">
		<img src="lib/images/html.png" width="24px" height="auto" style="margin: 10px 0 0 0;">
		<p style="margin:20px 0 0 0px;font-size: 14px;color: grey;">Documents</p>
		<p style="margin:10px 0 0 0px;font-size: 18px;color: #484848;">{{prog.dprog}} {{ prog.dprog != 'N/A' ? '%' : ''}}</p>
		</div>
		
		<div align=center style="width: 20%;border-right: 1px solid #c2c2c2;margin: 00px 0;height: 130px;float:left;">
		<img src="lib/images/quiz.png" width="24px" height="auto" style="margin: 10px 0 0 0;">
		<p style="margin:20px 0 0 0px;font-size: 14px;color: grey;">Knowledge Checks</p>
		<p style="margin:10px 0 0 0px;font-size: 18px;color: #484848;">{{prog.fqprog}} {{ prog.fqprog != 'N/A' ? '%' : ''}}</p>
		</div>
		
		<div align=center style="width: 20%;border-right: 1px solid #c2c2c2;margin: 00px 0;height: 130px;float:left;">
		<img src="lib/images/quiz.png" width="24px" height="auto" style="margin: 10px 0 0 0;">
		<p style="margin:20px 0 0 0px;font-size: 14px;color: grey;">Assessments</p>
		<p style="margin:10px 0 0 0px;font-size: 18px;color: #484848;">{{prog.sqprog}} {{ prog.sqprog != 'N/A' ? '%' : ''}}</p>
		</div>
		
		<div align=center style="width: 20%;margin: 00px 0;height: 130px;float:left;">
		<img src="lib/images/html.png" width="24px" height="auto" style="margin: 10px 0 0 0;">
		<p style="margin:20px 0 0 0px;font-size: 14px;color: grey;">Assignments</p>
		<p style="margin:10px 0 0 0px;font-size: 18px;color: #484848;">{{prog.asmtprog}} {{ prog.asmtprog != 'N/A' ? '%' : ''}}</p>
		</div>
		</div>
		<div style="width: 100%;overflow:hidden;border: 1px solid #d2d2d2;margin-top: 20px;background: #fff;">
		<div style="width: 100%;float:left;margin-bottom: 20px;overflow:hidden;">
		<div align=center  style="border-radius: 8px 8px 0px 0px;"> <p style="margin:20px 0 10px 0px;font-size: 18px;color: black;">Overall Progress</p> </div>
		<div>
		    <nvd3 options="prog.options2" data="prog.data2"></nvd3>
		</div>
		</div>
		
		
		<!-- <div style="width: 50%;float:left;border-left: 1px solid #d2d2d2;padding: 10px 0 0 0;">
		<div align=center style="border-radius: 8px 8px 0px 0px;"> <p style="margin:20px 0 10px 0px;font-size: 18px;color: black;">Content wise Progress</p> </div>
		<div style="overflow: hidden;">
		    <nvd3 options="prog.options" data="prog.data" ></nvd3>
		</div>
		</div> -->
		</div>
		
		</div>
		
		<div ng-if="scores" style="background: #fff;max-width: 1600px;min-width: 626px;width: 100%;border: 1px solid #d2d2d2;border-top: none;">
		
		<table ng-table="prog.tableParams" class="table table-condensed table-bordered table-striped" align="center">
		   <tr>
		  <th style="border: none;float: left;margin-left: 20px;">Assessment Name</th>
		  <th style="border: none;">Completed</th>
		  <th style="border: none;">Score</th>
		  </tr>
        <tr ng-repeat="row in $data" ng-class-odd="'odd'" ng-class-even="'even'">
       
          <td  style="width:40%;padding: 20px 0 20px 20px !important;font-family: MyWebFont1;color:#363636;" data-title="'Assessment Name'" >{{row.name}}</td>
          <td  style="width:20%;padding: 15px 0 15px 0px !important;font-family: MyWebFont1;color:#363636;text-align: center;" data-title="'Completed On'">{{row.cdate}} </td>
          <td  style="width:20%;padding: 15px 0 15px 0px !important;font-family: MyWebFont1;color:#363636;text-align: center;" data-title="'Score'">{{row.score}} %</td>
        
        </tr>
        <tr>
            <td ng-show="$data.length == 0" style="color: #484848;font-size: 18px;padding: 10px !important;background-color: rgb(237, 237, 237);text-align:center;" colspan="3">
               No Scores
            </td>
        </tr>
      
      </table>
      
		</div>
		
		
 </div>

 
 </div>
</div>


</div>


<div  ng-if="errorpage" align=center class="col-12" >
<div ng-if="!online" align=center class="offline">
<p style="color:white;margin: 16px 0 0 0;font-size:15px;font-family:MyWebFont;">You are offline. Please check your internet connectivity.</p>
</div>
<p ng-if="!online" style="margin: 25% 0 0 0;font-size:18px; ">Oops!!! Internet connectivity was lost during page navigation. Page will be reloaded once the connectivity is restored.</p>
<p ng-if="online && othererrmsg" style="margin: 25% 0 0 0;font-size:18px; ">Oops!!! Something went wrong please reload the page.</p>
</div>

<div ng-if="showpage" class="footer">
<p style="color:#fff;float: left;line-height:20px ! important;font-size:13px; margin:21px 0 20px 50px;display: inline;">©</p>
<p style="color:#fff;float: left;line-height:20px ! important;font-size:12px; margin:20px 0 20px 3px;display: inline;">2019 EnhanzED Education (P) Ltd.</p>
<a style="color:#fff;float: right;line-height:25px ! important;font-size:12px; margin:17.5px 50px 17.5px 0px;" href="#privacypolicy"> Privacy Policy </a>
<p style="color:#fff;float: right;line-height:25px ! important;font-size:12px; margin:17.5px 10px 17.5px 10px;"> | </p>
<a style="color:#fff;float: right;line-height:25px ! important;font-size:12px; margin:17.5px 0px 17.5px 0px;" href="#T&C"> Terms & Conditions</a>

</div>

</div>

<div  ng-if="showapppage" class="col-12">
<div ng-include="'mobilepage.html'"></div>
</div>

