<div class="container">
	<div ng-if="showpage" style="padding: 0 0 100px 0;">
		<div ng-controller="headerCtrl">
			<div ng-include="'header.html'"></div>
		</div>
		<div ng-if="!online" align=center class="offline">
			<p
				style="color: white; margin: 16px 0 0 0; font-size: 15px; font-family: MyWebFont;">You
				are offline. Please check your internet connectivity.</p>
		</div>
		<div ng-style="myObj"
			style="height: 225px; position: relative; text-align: center;">

			<img src="lib/images/black.png" class="blackimg">
			<div class="topleft">
				<img ng-click="mytopics();" src="lib/images/wback.png" class="wback">
			</div>

			<div ng-if="duedate != false" class="topright" style="">
				<p style="color: white; margin: 0;">{{duedate === 'Overdue' ? ""
					: "Due"}} {{duedate}}</p>
			</div>

			<div class="centered">{{ttitle}}</div>
			<div class="centered1" ng-if="newtopic == true">
				<button ng-disabled="!online" ng-click="subscribe()"
					class="loginbuttonnew" style="width: 130px;">Start</button>
			</div>
			<!-- <div class="centered1"  ng-if="payment == true && newtopic == true" >
<button  ng-disabled="!online" ng-click="paymentgateway()" class="loginbuttonnew" style="min-width: 130px;width:auto;">Subscribe</button>
</div> -->
			<div class="centered1" ng-if="viewcert == true && ctype === '0'">
				<button ng-disabled="!online" ng-click="viewcertificate()"
					class="loginbuttonnew" style="width: 150px;">View
					Certificate</button>
			</div>
			<div class="centered1" ng-if="claimcert == true">
				<button ng-disabled="!online" ng-click="claimcertificate()"
					class="loginbuttonnew" style="width: 150px;">Claim {{
					ctype === '0' ? 'Certificate' : 'Badge'}}</button>
			</div>
		</div>

		<div id="sticky-anchor"></div>
		<div id="test1">
			<div ng-style="myObj" style="height: 65px; text-align: center;">

				<img src="lib/images/black.png" class="blackimgtest">
				<div class="toplefttest">
					<img ng-click="mytopics();" src="lib/images/wback.png"
						class="wbacktest">
				</div>
				<div ng-if="duedate != false" class="topright" style="">
					<p style="color: white; margin: 0;">{{duedate === 'Overdue' ?
						"" : "Due"}} {{duedate}}</p>
				</div>
				<div class="centeredtest">{{ttitle}}</div>
			</div>
		</div>

		<div align=center
			style="background-color: #fff; overflow: hidden; border-bottom: 1px solid #E4E4E4;">

			<ul class="viewscrollheading"
				style="padding: 0 29%; margin: 0; justify-content: center; height: 44px;">
				<li
					class='{{ overview == true ? "viewlistactive" : "listinactive"}} '
					style="padding: 8px 6%; line-height: 18px"><a
					ng-click="overview = true;content = false;progress = false">OVERVIEW</a></li>
				<li
					class='{{ content == true ? "viewlistactive" : "listinactive"}} '
					style="padding: 8px 6%; line-height: 18px"><a
					ng-click="overview = false;content = true;progress = false">CONTENT</a></li>
				<li
					class='{{ progress == true ? "viewlistactive" : "listinactive"}} '
					style="padding: 8px 6%; line-height: 18px"><a
					ng-click="overview = false;progress = true;content = false">PROGRESS</a></li>
			</ul>

		</div>


		<div align=center style="background-color: #f7f7f7; overflow: hidden;">
			<div class="topicdesc">
				<div ng-if="overview == true">
					<p
						style="min-height: 250px; text-align: left; background-color: #fff; width: 100%; padding: 30px; font-family: 'MyWebFont1'; color: #484848; border: 1px solid #ddd;">{{tdescription}}</p>
				</div>


				<div ng-if="progress == true" style="background-color: unset">

					<div style="text-align: left">

						<div class="ausertopic"
							style="background-color: #fff; min-height: 45px; border: 1px solid #d2d2d2; border-bottom: none;">
							<!-- <button ng-click="moverview = true;scores = false;" class="{{moverview == true ? 'auserbactive' : 'auserbinactive'}}" > OVERVIEW </button>
	<button ng-click="moverview = false;scores = true;" class="{{scores == true ? 'auserbactive' : 'auserbinactive'}}" > SCORES </button> -->
							<ul class="viewscrollheading"
								style="padding: 0; margin: 0; justify-content: left; border-bottom: 1px solid #d2d2d2">

								<li
									class="{{moverview == true ? 'viewlistactive' : 'listinactive'}}"
									ng-style="moverview == true ? {'border-bottom':'2px solid #FC9842'} : {'background-color':'transparent'}"
									style="padding: 8px 25px; line-height: 15px;"><a
									style="font-weight: normal; color: black;"
									ng-click="moverview = true;scores = false;"> OVERVIEW
								</a></li>
								<li
									class="{{scores == true ? 'viewlistactive' : 'listinactive'}}"
									ng-style="scores == true ? {'border-bottom':'2px solid #FC9842' } : {'background-color':'transparent'}"
									style="padding: 8px 25px; line-height: 15px;"><a
									style="font-weight: normal;"
									ng-click="moverview= false;scores = true;"> SCORES</a></li>

							</ul>
						</div>

						<div ng-if="moverview"
							style="max-width: 1600px; min-width: 600px; width: 100%; border-radius: 0px 0px 8px 8px;">

							<div
								style="width: 100%; overflow: hidden; background-color: #fff; border: 1px solid #d2d2d2; border-top: none;">
								<div align=center
									style="width: 20%; border-right: 1px solid #c2c2c2; margin: 00px 0; height: 130px; float: left;">
									<img src="lib/images/video.png" width="24px" height="auto"
										style="margin: 10px 0 0 0;">
									<p style="margin: 20px 0 0 0px; font-size: 14px; color: grey;">Videos/Audios</p>
									<p
										style="margin: 10px 0 0 0px; font-size: 18px; color: #484848;">{{prog.vprog}}
										{{ prog.vprog != 'N/A' ? '%' : ''}}</p>
								</div>

								<div align=center
									style="width: 20%; border-right: 1px solid #c2c2c2; margin: 00px 0; height: 130px; float: left;">
									<img src="lib/images/html.png" width="24px" height="auto"
										style="margin: 10px 0 0 0;">
									<p style="margin: 20px 0 0 0px; font-size: 14px; color: grey;">Documents</p>
									<p
										style="margin: 10px 0 0 0px; font-size: 18px; color: #484848;">{{prog.dprog}}
										{{ prog.dprog != 'N/A' ? '%' : ''}}</p>
								</div>

								<div align=center
									style="width: 20%; border-right: 1px solid #c2c2c2; margin: 00px 0; height: 130px; float: left;">
									<img src="lib/images/quiz.png" width="24px" height="auto"
										style="margin: 10px 0 0 0;">
									<p style="margin: 20px 0 0 0px; font-size: 14px; color: grey;">Knowledge
										Checks</p>
									<p
										style="margin: 10px 0 0 0px; font-size: 18px; color: #484848;">{{prog.fqprog}}
										{{ prog.fqprog != 'N/A' ? '%' : ''}}</p>
								</div>

								<div align=center
									style="width: 20%; border-right: 1px solid #c2c2c2; margin: 00px 0; height: 130px; float: left;">
									<img src="lib/images/quiz.png" width="24px" height="auto"
										style="margin: 10px 0 0 0;">
									<p style="margin: 20px 0 0 0px; font-size: 14px; color: grey;">Assessments</p>
									<p
										style="margin: 10px 0 0 0px; font-size: 18px; color: #484848;">{{prog.sqprog}}
										{{ prog.sqprog != 'N/A' ? '%' : ''}}</p>
								</div>

								<div align=center
									style="width: 20%; margin: 00px 0; height: 130px; float: left;">
									<img src="lib/images/html.png" width="24px" height="auto"
										style="margin: 10px 0 0 0;">
									<p style="margin: 20px 0 0 0px; font-size: 14px; color: grey;">Assignments</p>
									<p
										style="margin: 10px 0 0 0px; font-size: 18px; color: #484848;">{{prog.asmtprog}}
										{{ prog.asmtprog != 'N/A' ? '%' : ''}}</p>
								</div>
							</div>
							<div
								style="width: 100%; overflow: hidden; border: 1px solid #d2d2d2; margin-top: 20px; background-color: #fff;">
								<div
									style="width: 100%; float: left; margin: 10px 0 20px 0; overflow: hidden;">
									<div align=center style="border-radius: 8px 8px 0px 0px;">
										<p
											style="margin: 20px 0 10px 0px; font-size: 18px; color: black;">Overall
											Progress</p>
									</div>
									<div>
										<nvd3 options="prog.options2" data="prog.data2"></nvd3>
									</div>
								</div>
							</div>

						</div>

						<div ng-if="scores"
							style="background: #fff; max-width: 1600px; min-width: 600px; width: 100%; border: 1px solid #d2d2d2; border-top: none;">

							<table ng-table="prog.tableParams"
								class="table table-condensed table-bordered table-striped"
								align="center">
								<thead>


									<th
										style="border: none; font-family: MyWebFont1; font-size: 14px; text-align: left !important; padding-left: 20px !important;">Assessment
										Name</th>
									<th
										style="border: none; font-family: MyWebFont1; font-size: 14px;">Completed
										on</th>
									<th
										style="border: none; font-family: MyWebFont1; font-size: 14px;">Score</th>


								</thead>
								<tr ng-repeat="row in $data" ng-class-odd="'odd'"
									ng-class-even="'even'">

									<td
										style="width: 40%; padding: 20px 0 20px 20px !important; font-family: MyWebFont1; color: #363636; text-align: left; font-size: 14px;">{{row.name}}</td>
									<td
										style="width: 20%; padding: 15px 0 15px 0px !important; font-family: MyWebFont1; color: #363636; text-align: center; font-size: 14px;">{{row.cdate}}
									</td>
									<td
										style="width: 20%; padding: 15px 0 15px 0px !important; font-family: MyWebFont1; color: #363636; text-align: center; font-size: 14px;">{{row.score}}
										%</td>

								</tr>
								<tr>
									<td ng-show="$data.length == 0"
										style="color: #484848; font-size: 18px; padding: 10px !important; background-color: rgb(237, 237, 237); text-align: center;"
										colspan="3">No Scores</td>
								</tr>

							</table>

						</div>


					</div>

				</div>

			</div>
			<div style="margin-left: 240px; width: 59%;">
				<div ng-if="content == true">
					<div class="listcontent"
						style="background-color: unset; border: none;">
						<div class="sidebox" ng-style="ngsidebox" id="test2">
							<ul
								style="display: block; list-style: none;margin-top: 28px; border: 1px solid #d2d2d2; padding: 0; background-color: #fff;">
								<li ng-repeat="(indexy,nugget) in nuggets"
									style="text-align: left; color: #484848;"><a
									ng-click="scrollfunction(nugget.ntitle,indexy) "
									href="javascript:void(0);"
									style="color: white; cursor: pointer; text-align: left !important; text-decoration: none;">
										<div
											class="{{$index == selected ? 'nuggetsfixboxyes' : 'nuggetsfixboxno'}}">

											<div style="margin-left: 15px;vertical-align: middle;">
												<img src="lib/images/notstarted.png"
													ng-if="progressmenu[indexy+1] == 0"
													style="width: 28px; margin: 8px 6px 0 -9px; float: left;">
												<img src="lib/images/inprogress.png"
													ng-if="progressmenu[indexy+1] == 1"
													style="width: 28px; margin: 8px 6px 0 -9px; float: left;">
												<img src="lib/images/tcompleted.png"
													ng-if="progressmenu[indexy+1] == 2"
													style="width: 28px; margin: 8px 6px 0 -9px; float: left;">
											</div>
											<p class="abc"
												style="color: #484848; width: 60% !important; height: 45px; display: table-cell; vertical-align: middle;">{{nugget.ntitle}}</p>

										</div>
								</a></li>

							</ul>
						</div>

						<p
							style="float: left; font-size: 14px; margin: 0px 0; color: #484848; font-family: 'MyWebFont1';">{{noofnuggets}}
							Nuggets</p>
						<p
							style="float: right; font-size: 14px; margin: 0px 0; color: #484848; font-family: 'MyWebFont1';">
							<img src="lib/images/timer.png" class="timerimg1"
								style="margin: 3px 4px 0 0"> {{tduration}} m
						</p>
					</div>

					<div ng-if="false">
						<div ng-if="newtopic == false" class="n1progress">
							<div ng-if="freenavigation == false || freenavigation == 'false'"
								class="progress"
								style="width: 100% ! important; margin: 10px 0 !important;">
								<div class="progress-bar" role="progressbar"
									aria-valuenow="{{completed}}%" aria-valuemin="0"
									aria-valuemax="100" style="width: {{completed"></div>
							</div>
						</div>
					</div>

					<div>
						<div style="padding: 0 0 10px 0; "
							ng-if="newtopic == false" id="{{nugget.ntitle}}"
							class="listcontent" ng-repeat="(indexy,nugget) in nuggets">


							<a ng-click="loadnugget($index, nugget.nid, false)"
								style="color: black; width: 100%;">
								<p
									style="margin: 0px 0 10px 0px ! important; padding: 10px 0 8px 0 ! important; width: 92%; text-align: left; color: #484848;">{{nugget.ntitle}}</p>

							</a>
							<p
								style="margin: -38px 0px 0px 0px !important; text-align: left; color: #484848; width: 65px; float: right; overflow: hidden; font-family: 'MyWebFont1'; font-size: 12px">{{nugget.nduration}}
								m</p>


							<div style="margin: 0 40px ! important; overflow: hidden;"
								ng-repeat="object in nugget.objects">
								<div class="activeobjectyes">
									<div
										ng-if="freenavigation == 'false' || freenavigation == false">


										<div ng-if="object.otype == 'video'">

											<div ng-if=" indexy < activenugget" class="videodark"></div>
											<div
												ng-if=" indexy == activenugget && $index > objectprogress"
												class="videogrey"></div>
											<div
												ng-if=" indexy == activenugget && $index < objectprogress"
												class="videodark"></div>
											<div
												ng-if=" indexy == activenugget && $index === objectprogress"
												class="videodark"></div>
											<div ng-if=" indexy > activenugget" class="videogrey"></div>


										</div>

										<div ng-if="object.otype == 'audio'">

											<div ng-if=" indexy < activenugget" class="audiodark"></div>
											<div
												ng-if=" indexy == activenugget && $index > objectprogress"
												class="audiogrey"></div>
											<div
												ng-if=" indexy == activenugget && $index < objectprogress"
												class="audiodark"></div>
											<div
												ng-if=" indexy == activenugget && $index === objectprogress"
												class="audiodark"></div>
											<div ng-if=" indexy > activenugget" class="audiogrey"></div>
										</div>

										<div ng-if="object.otype == 'quiz'">
											<div ng-if=" indexy < activenugget" class="quizdark"></div>
											<div
												ng-if=" indexy == activenugget && $index > objectprogress"
												class="quizgrey"></div>
											<div
												ng-if=" indexy == activenugget && $index < objectprogress"
												class="quizdark"></div>
											<div
												ng-if=" indexy == activenugget && $index === objectprogress"
												class="quizdark"></div>
											<div ng-if=" indexy > activenugget" class="quizgrey"></div>
										</div>

										<div ng-if="object.otype == 'html'">
											<div ng-if=" indexy < activenugget" class="htmldark"></div>
											<div
												ng-if=" indexy == activenugget && $index > objectprogress"
												class="htmlgrey"></div>
											<div
												ng-if=" indexy == activenugget && $index < objectprogress"
												class="htmldark"></div>
											<div
												ng-if=" indexy == activenugget && $index === objectprogress"
												class="htmldark"></div>
											<div ng-if=" indexy > activenugget" class="htmlgrey"></div>
										</div>

										<div ng-if="object.otype == 'interactivity'">
											<div ng-if=" indexy < activenugget" class="interdark"></div>
											<div
												ng-if=" indexy == activenugget && $index > objectprogress"
												class="intergrey"></div>
											<div
												ng-if=" indexy == activenugget && $index < objectprogress"
												class="interdark"></div>
											<div
												ng-if=" indexy == activenugget && $index === objectprogress"
												class="interdark"></div>
											<div ng-if=" indexy > activenugget" class="intergrey"></div>
										</div>

										<div ng-if="object.otype == 'pdf'">
											<div ng-if=" indexy < activenugget" class="htmldark"></div>
											<div
												ng-if=" indexy == activenugget && $index > objectprogress"
												class="htmlgrey"></div>
											<div
												ng-if=" indexy == activenugget && $index < objectprogress"
												class="htmldark"></div>
											<div
												ng-if=" indexy == activenugget && $index === objectprogress"
												class="htmldark"></div>
											<div ng-if=" indexy > activenugget" class="htmlgrey"></div>
										</div>


									</div>
									<div ng-if="freenavigation == 'true' || freenavigation == true">
										<div ng-if="object.otype == 'video'">
											<div class="videodark"></div>
										</div>
										<div ng-if="object.otype == 'audio'">
											<div class="audiodark"></div>
										</div>
										<div ng-if="object.otype == 'quiz'">
											<div class="quizdark"></div>
										</div>

										<div ng-if="object.otype == 'html'">
											<div class="htmldark"></div>
										</div>

										<div ng-if="object.otype == 'interactivity'">
											<div class="interdark"></div>
										</div>

										<div ng-if="object.otype == 'pdf'">
											<div class="htmldark"></div>
										</div>

									</div>
									<a ng-click="loadnugget(indexy, nugget.nid, $index)"
										style="color: black; margin: 0 0 0 0 ! important; padding: 0 0 0 0 ! important;">

										<p
											style="margin: 7px 0 0 0 ! important; padding-bottom: 0px ! important; width: 88%; text-align: left; font-family: 'MyWebFont1'; color: #484848;">{{object.otitle}}</p>
									</a>
								</div>

							</div>

						</div>

					</div>


					<div style="padding: 0 0 15px 0;" ng-if="newtopic == true"
						id="{{nugget.ntitle}}" class="listobjects"
						ng-repeat="(indexy,nugget) in nuggets">

						<p
							style="border-bottom: 1px solid #d2d2d2; margin: 0px 0 10px 0px ! important; padding: 10px 0 8px 0 ! important; width: 92%; text-align: left; color: #484848;">{{nugget.ntitle}}</p>

						<div style="margin: 0 40px ! important; overflow: hidden;"
							ng-repeat="object in nugget.objects">
							<div class="activeobjectno">

								<div ng-if="object.otype == 'video'">
									<div class="videogrey"></div>
								</div>

								<div ng-if="object.otype == 'quiz'">
									<div class="quizgrey"></div>
								</div>

								<div ng-if="object.otype == 'html'">
									<div class="htmlgrey"></div>
								</div>

								<div ng-if="object.otype == 'interactivity'">
									<div class="intergrey"></div>
								</div>
								<div ng-if="object.otype == 'audio'">
									<div class="audiogrey"></div>
								</div>

								<div ng-if="object.otype == 'pdf'">
									<div class="htmlgrey"></div>
								</div>

								<p style="color: black;">
								<p
									style="margin: -3px 0 0% 0 ! important; padding-bottom: 0px ! important; width: 88%; text-align: left; font-family: 'MyWebFont1'; color: #484848;">{{object.otitle}}</p>
								</p>
							</div>

						</div>

					</div>



				</div>
			</div>
		</div>
	</div>

	<div ng-if="errorpage" align=center class="col-12">
		<div ng-if="!online" align=center class="offline">
			<p
				style="color: white; margin: 16px 0 0 0; font-size: 15px; font-family: MyWebFont;">You
				are offline. Please check your internet connectivity.</p>
		</div>
		<p ng-if="!online" style="margin: 25% 0 0 0; font-size: 18px;">Oops!!!
			Internet connectivity was lost during page navigation. Page will be
			reloaded once the connectivity is restored.</p>
		<p ng-if="online && othererrmsg"
			style="margin: 25% 0 0 0; font-size: 18px;">Oops!!! Something
			went wrong please reload the page.</p>
	</div>

	<div ng-if="showpage" class="footer">
		<p
			style="color: #fff; float: left; line-height: 20px ! important; font-size: 13px; margin: 21px 0 20px 50px; display: inline;">©</p>
		<p
			style="color: #fff; float: left; line-height: 20px ! important; font-size: 12px; margin: 20px 0 20px 3px; display: inline;">2019
			EnhanzED Education (P) Ltd.</p>
		<a
			style="color: #fff; float: right; line-height: 25px ! important; font-size: 12px; margin: 17.5px 50px 17.5px 0px;"
			href="#privacypolicy"> Privacy Policy </a>
		<p
			style="color: #fff; float: right; line-height: 25px ! important; font-size: 12px; margin: 17.5px 10px 17.5px 10px;">
			|</p>
		<a
			style="color: #fff; float: right; line-height: 25px ! important; font-size: 12px; margin: 17.5px 0px 17.5px 0px;"
			href="#T&C"> Terms & Conditions</a>

	</div>
</div>

<div ng-if="showapppage" class="col-12">
	<div ng-include="'mobilepage.html'"></div>
</div>

<script>
	function sticky_relocate() {
		var window_top = $(window).scrollTop();
		var div_top = $('#sticky-anchor').offset().top;
		if (window_top > div_top) {
			$('#test1').addClass('stick');
			$('#test2').addClass('myfixobj');
			$('#sticky-anchor').height($('#test1').outerHeight());
		} else {
			$('#test1').removeClass('stick');
			$('#test2').removeClass('myfixobj');
			$('#sticky-anchor').height(0);
		}
	}

	$(function() {
		$(window).scroll(sticky_relocate);
		sticky_relocate();
	});
</script>

