<div class="container"  ng-style="bcolor">
<div ng-if="showpage" style="padding: 0 0 00px 0;overflow:hidden;">
<div style="overflow:hidden;">

<div ng-controller="headerCtrl">
  <div ng-include="'header.html'">
  </div>
</div>
<div ng-if="!online" align=center class="offline">
<p style="color:white;margin: 16px 0 0 0;font-size:15px;font-family:MyWebFont;">You are offline. Please check your internet connectivity.</p>
</div>
<div ng-show="loading" class="loader loader-default is-active"></div>

<div class="nuggetlist">

<div id="first" style="background-color:#fff;">
			<div class="asidehead" style="overflow:hidden;">
			<a ng-click="objecttrack();" onclick="myFunction()" style="font-family: 'MyWebFont1';color:#484848;float:left;margin: 15px 0 20px 10px;cursor:pointer;text-align:left;"> <img src="lib/images/bback.png" style="width: 12px;margin-right: 5px;" >  {{tname.length > 120 ? tname.substring(0,120) + "..." : tname }} </a>
			
			<p style="overflow:hidden;color:#484848;font-weight:500;font-size:16px;width:100%;text-align:left;padding: 0 0 10px 10px;margin: 0px 0 2px 0px;box-shadow: 0 0px 0px 0 rgba(0, 0, 0, 0), 0 2px 0px 0 rgba(0, 0, 0, 0.19);"> 
			{{ntitle}} </p>
			</div> 
			
			<div  class="asidebody" ng-repeat="object in objects" style="margin: 0px 0  0px 0px;">
				<ul style="margin: 0px 0 0px 0px;padding:0;border-bottom: 1px solid #d2d2d2;">
				<li  style="margin: 0% 0 0% 0;list-style: none;padding:0px 0 0px 0%;text-align:left ! important;">
	 			<a ng-click="goTo($index,object.otype);" onclick="myFunction()"  style="color:black;cursor:pointer;text-align:left ! important;">
	 			<div class="{{$index == activeobject ? 'activeobjectyes' : 'activeobjectno'}}" >
	 			
		 			<div ng-if="freenavigation == 'false' || freenavigation == false">
				<div ng-if="$index!=0" class="{{  $index > objectprogress ? 'sidelineupinact' : 'sidelineupact'}}"></div>
		 			
		 			<div ng-if="object.otype == 'video'">
		 			
					 <div ng-if="$index < objectprogress && $index != objecttoshow" class="npvideodark"></div>
					 <div ng-if="$index == objectprogress && $index != objecttoshow" class="npvideodark"></div>
					 <div ng-if="$index == objecttoshow" class="npvideodark"></div>
					 <div ng-if="$index > objectprogress" class="npvideogrey"></div>
					 
					
					 </div>
					 <div ng-if="object.otype == 'audio'">
					 <div ng-if="$index < objectprogress && $index != objecttoshow" class="npaudiodark"></div>
					 <div ng-if="$index == objectprogress && $index != objecttoshow" class="npaudiodark"></div>
					 <div ng-if="$index == objecttoshow" class="npaudiodark"></div>
					 <div ng-if="$index > objectprogress" class="npaudiogrey"></div>
					 </div>
					 <div ng-if="object.otype == 'quiz'" >
					 
					 <div ng-if="$index < objectprogress && $index != objecttoshow" class="npquizdark"></div>
					 <div ng-if="$index == objectprogress && $index != objecttoshow" class="npquizdark"></div>
					 <div ng-if="$index == objecttoshow" class="npquizdark"></div>
					 <div ng-if="$index > objectprogress" class="npquizgrey"></div>
					  
					 </div>
					 
					 <div ng-if="object.otype == 'html'">
					 
					 <div ng-if="$index < objectprogress && $index != objecttoshow" class="nphtmldark"></div>
					 <div ng-if="$index == objectprogress && $index != objecttoshow" class="nphtmldark"></div>
					 <div ng-if="$index == objecttoshow" class="nphtmldark"></div>
					 <div ng-if="$index > objectprogress" class="nphtmlgrey"></div>
					  
					 </div>
					 <div ng-if="object.otype == 'interactivity'">
					 
					 <div ng-if="$index < objectprogress && $index != objecttoshow" class="npinterdark"></div>
					 <div ng-if="$index == objectprogress && $index != objecttoshow" class="npinterdark"></div>
					 <div ng-if="$index == objecttoshow" class="npinterdark"></div>
					 <div ng-if="$index > objectprogress" class="npintergrey"></div>
					
					
					 </div>
		 			<div ng-if="object.otype == 'pdf'">
		 			
					 <div ng-if="$index < objectprogress && $index != objecttoshow" class="nphtmldark"></div>
					 <div ng-if="$index == objectprogress && $index != objecttoshow" class="nphtmldark"></div>
					 <div ng-if="$index == objecttoshow" class="nphtmldark"></div>
					 <div ng-if="$index > objectprogress" class="nphtmlgrey"></div>
					 
					 </div>
				<div ng-if="!$last"  class="{{$index > objectprogress ? 'sidelinedowninact' : 'sidelinedownact'}}"></div>
		 			</div>
		 			<div ng-if="freenavigation == 'true' || freenavigation == true">
		 			<div ng-if="$index!=0" class="sidelineupact"></div>
		 			<div ng-if="object.otype == 'video'">
					 <div ng-if="$index != objecttoshow" class="npvideodark"></div>
					 <div ng-if="$index == objecttoshow" class="npvideodark"></div>
					 </div>
					 <div ng-if="object.otype == 'audio'">
					 <div ng-if="$index != objecttoshow" class="npaudiodark"></div>
					 <div ng-if="$index == objecttoshow" class="npaudiodark"></div>
					 </div>
					 <div ng-if="object.otype == 'quiz'">
					 <div ng-if="$index != objecttoshow" class="npquizdark"></div>
					 <div ng-if="$index == objecttoshow" class="npquizdark"></div>
					 </div>
					 
					 <div ng-if="object.otype == 'html'">
					 <div ng-if="$index != objecttoshow" class="nphtmldark"></div>
					 <div ng-if="$index == objecttoshow" class="nphtmldark"></div>
					 </div>
					  <div ng-if="object.otype == 'interactivity'">
					 <div ng-if="$index != objecttoshow" class="npinterdark"></div>
					 <div ng-if="$index == objecttoshow" class="npinterdark"></div>
					 </div>
					  <div ng-if="object.otype == 'pdf'">
					 <div ng-if="$index != objecttoshow" class="nphtmldark"></div>
					 <div ng-if="$index == objecttoshow" class="nphtmldark"></div>
					 </div>
		 			<div ng-if="!$last"  class="sidelinedownact"></div>
		 			</div>
	 			
	 			<p class="{{$index == objecttoshow ? 'abc' : 'bcd'}}"  style="margin: 2.75% 0 1% 6% ! important;padding:4px ! important;width:60% ! important;height:55px;display: table-cell;
  vertical-align: middle;">{{object.otitle}} </p></div></a>
				
				</li>
					<!-- <li  style="margin: 0% 0 0% 0;list-style: none;padding:0px 0 0px 0%;text-align:left ! important;border-top: 1px solid #d2d2d2;" ng-if="$last && nextobj"  >
			<a ng-click="nextnugget()"  style="color:black;cursor:pointer;text-align:left ! important;">
			<p class="abc" style="margin: 2.75% 0 1% 6% ! important;padding:0px 16px 0px 16px !important;width:90% ! important;height:15px;display: block;color:#999999;
  vertical-align: middle;">Next  ></p>
  <p style="color:#484848;margin-left: 30px;font-size: 16px;">{{nntitle}}</p>
			</a>
			</li> -->
				</ul>
			</div>
			<button class='loginbuttonnew' ng-click="nextnugget()" style="margin-top: 20px ! important" ng-if="(((objectprogress === totalobjects) || ( objecttoshow == totalobjects-1) || ( objecttoshow == totalobjects-1)) && (opc == 'showall' || (freenavigation == true || freenavigation == 'true') ) && tnuggets != nid)"> Next Nugget</button>
			
		
			<div style="height: 20px"></div>
</div>

<div id="second" ng-style="second">
          	
			<div ng-repeat="object in filterednuggets"> 
				<div class="ndescription" style="margin-left: 0px;padding: 16px">
					<h2 style="border-bottom: 1px solid #ededed; font-size:22px;font-weight: 500;color:#484848;margin:15px 0 0 0px !important;font-family: 'MyWebFont' !important;padding-bottom: 15px"><span style="color: #484848">{{ object.otitle }}</span> </h2>
			<button class='loginbuttonnew' ng-click="nextobject();"  style="z-index:1;width:140px;position:absolute;right: 5%; transform: translate(0%, -276%);" ng-if="opc != 'showall' && objecttoshow == objectprogress  && nobject "> Mark As Complete</button>
		    <button class='loginbuttonnew' ng-click="completenugget();"   style="z-index:1;width:140px;position:absolute;right: 5%; transform: translate(0%, -276%);" ng-if="(((freenavigation == true || freenavigation == 'true') && (objecttoshow == totalobjects-1)) ) && tnuggets == nid && fnavobject"> Mark As Complete</button>
				</div>
				
				<div ng-if="object.otype == 'video'" align="center" class="videogular-container">
               
               
                        <videogular vg-theme="options11.theme.url" vg-update-time="onVideoUpdateTime($currentTime, $duration)">
                        <vg-poster vg-url='options11.plugins.poster'></vg-poster>
                         <vg-buffering></vg-buffering>
                            <vg-media vg-src="options11.sources">
                                   
                            </vg-media>
                           
                            <vg-controls vg-autohide="options11.plugins.controls.autoHide" vg-autohide-time="options11.plugins.controls.autoHideTime">
                                <vg-play-pause-button></vg-play-pause-button>
                                <vg-time-display>{{ currentTime | date:'mm:ss':'+0000' }}</vg-time-display>
                                <vg-scrub-bar>
                                    <vg-scrub-bar-current-time></vg-scrub-bar-current-time>
                                </vg-scrub-bar>
                                <vg-time-display>{{ totalTime | date:'mm:ss':'+0000' }}</vg-time-display>
                                <vg-volume>
                                    <vg-mute-button></vg-mute-button>
                                    <vg-volume-bar></vg-volume-bar>
                                </vg-volume>
                               
                                <vg-fullscreen-button></vg-fullscreen-button>
                            </vg-controls>
                          
                        </div>
          		<div ng-if="object.otype== 'audio'" align="center">    
          		 
					 <!--  <audio controls style="width: 950px;margin-top: 5%;">
						  <source src="{{options.file}}"  type="audio/mpeg">
						Your browser does not support the audio element.
						</audio>    --> 		
						 <videogular vg-theme="options.theme.url" vg-update-time="onVideoUpdateTime($currentTime, $duration)" class="videogular-container audio">                                             
                            <vg-media vg-src="options.sources" vg-type="audio">
                                   
                            </vg-media>
                           
				            <vg-controls>
							<vg-play-pause-button></vg-play-pause-button>
							<vg-time-display>{{ currentTime | date:'mm:ss':'+0000' }}</vg-time-display>
							<vg-scrub-bar>
								<vg-scrub-bar-current-time></vg-scrub-bar-current-time>
							</vg-scrub-bar>
							<vg-time-display>{{ totalTime | date:'mm:ss':'+0000' }}</vg-time-display>
							<vg-volume>
								<vg-mute-button></vg-mute-button>
							</vg-volume>
						</vg-controls>
						</videogular>
          		</div>		
          		<div ng-if="object.otype  == 'video' || object.otype == 'audio'" class="ndescription">
					</br>
					<p style="color:#484848;font-family: 'MyWebFont1';"> <span ng-bind-html="object.odescription"></span></p>
				</div>
          		<div ng-if=" object.otype == 'image'" align="center"> 
               		<img src="{{object.ourl}}" style="position: relative;width: 100%;height: 100%;border: solid;"> 
          		</div>
				<div ng-if=" object.otype  == 'html'" align="center">
                    <div id="loadImg" ><div><img style="width:30%;height:30%;margin: 10% 0px 0 -15%;position:absolute;" src="lib/images/loading.gif" /></div></div>
                    <iframe id='myiframe' height="{{htmlheight}}" iframe-onload="iframeLoadedCallBack()" onload="document.getElementById('loadImg').style.display='none';" src="{{object.url}}" class="iframestyle"></iframe> 
                </div>
                <div ng-if=" object.otype  == 'interactivity'" align="center">
               
                <div id="loadImg" ><div><img style="width:30%;height:30%;margin: 10% 0px 0 -15%;position:absolute;" src="lib/images/loading.gif" /></div></div>
                <iframe height="{{htmlheight}}" iframe-onload="iframeLoadedCallBack()" onload="document.getElementById('loadImg').style.display='none';" src="{{object.url}}" class="iframestyle"></iframe>
                   
                </div>
                <div ng-if=" object.otype  == 'pdf'" align="center">
                <div id="loadImg" ><div><img style="width:30%;height:30%;margin: 10% 0px 0 -15%;position:absolute;" src="lib/images/loading.gif" /></div></div>
                    <iframe height="{{htmlheight}}" iframe-onload="iframeLoadedCallBack()" onload="document.getElementById('loadImg').style.display='none';" src="{{object.url}}" class="iframestyle"></iframe>
                </div>
				<div align=center  ng-show=" object.otype  == 'quiz'"> 
					<div class="quizimagediv" align="center" ng-show="divscore == false">
						<img src="lib/images/quizimg.png" class="quizimage">
               			<button  ng-disabled="!online" ng-show="retakequiz == false" class="quizstart" ng-click="startquiz(object.oid)"> Start Quiz</button>
               			<button  ng-disabled="!online" ng-show="retakequiz == true" class="quizstart cmnbuttonnew" ng-click="restartquiz(object.oid)"> Retake Quiz</button>
          			</div>
          			<div ng-if="scoreload" ><div><img style="width:30%;height:30%;margin: 2% 0px 0 -15%;position:absolute;" src="lib/images/loading.gif" /></div></div>
          			<div class="quizimagediv" style="margin: 100px;" ng-show="divscore == true"  > 
						
						<div class="clearfix" ng-if="!scoreload" >
				<p>Your Score</p>
				                    <div class="c100 p{{pernt}} big orange">
				                    <span>{{pernt}}%</span>
				                    <div class="slice">
				                        <div class="bar"></div>
				                        <div class="fill"></div>
				                    </div>
				                	</div>
				                	</div>
						
						<percent-circle percent="100" colors="{center:'green'}"></percent-circle>
						
					</div>
				</div>
			</div>
</div>
	
</div>

</div>
</div>


<div  ng-if="errorpage" align=center class="col-12" >
<div ng-if="!online" align=center class="offline">
<p style="color:white;margin: 16px 0 0 0;font-size:15px;font-family:MyWebFont;">You are offline. Please check your internet connectivity.</p>
</div>
<p ng-if="!online" style="margin: 25% 0 0 0;font-size:18px; ">Oops!!! Internet connectivity was lost during page navigation. Page will be reloaded once the connectivity is restored.</p>
<p ng-if="online && othererrmsg" style="margin: 25% 0 0 0;font-size:18px; ">Oops!!! Something went wrong please reload the page.</p>
</div>

<div ng-if="showpage" class="footer">
<p style="color:#fff;float: left;line-height:20px ! important;font-size:13px; margin:21px 0 20px 50px;display: inline;">©</p>
<p style="color:#fff;float: left;line-height:20px ! important;font-size:12px; margin:20px 0 20px 3px;display: inline;">2019 EnhanzED Education (P) Ltd.</p>
<a style="color:#fff;float: right;line-height:25px ! important;font-size:12px; margin:17.5px 50px 17.5px 0px;" href="#privacypolicy"> Privacy Policy </a>
<p style="color:#fff;float: right;line-height:25px ! important;font-size:12px; margin:17.5px 10px 17.5px 10px;"> | </p>
<a style="color:#fff;float: right;line-height:25px ! important;font-size:12px; margin:17.5px 0px 17.5px 0px;" href="#T&C"> Terms & Conditions</a>

</div>
</div>

<div  ng-if="showapppage" class="col-12">
<div ng-include="'mobilepage.html'"></div>
</div>


<script>




var video = document.getElementById('myVideo');   
document.keydown = function(e){

    if((e || window.event).which === 13 || (e || window.event).which === 32){
    
    	document.querySelector('video').paused ? document.querySelector('video').play() : document.querySelector('video').pause();
     }
};
var video = document.getElementById('myVideo');   
document.onkeypress = function(e){

    if((e || window.event).which === 13 || (e || window.event).which === 32){
    	document.querySelector('video').paused ? document.querySelector('video').play() : document.querySelector('video').pause();
     }
};

document.keydown = function(e){

    if((e || window.event).which === 13 || (e || window.event).which === 32){
    
    	document.querySelector('audio').paused ? document.querySelector('audio').play() : document.querySelector('audio').pause();
     }
};  
document.onkeypress = function(e){

    if((e || window.event).which === 13 || (e || window.event).which === 32){
    	document.querySelector('audio').paused ? document.querySelector('audio').play() : document.querySelector('audio').pause();
     }
};
	


</script> 
