<div ng-show="loading" class="loader loader-default is-active"></div>

<div ng-if="showmodal" class="modal-content">

<button style="margin: 5px 10px 0 0" type="button" class="close" data-dismiss="modal" ng-click="close()" aria-label="Close"><span >&times;</span></button>
<div align=center>
<!--  <img src="{{orgimg}}" class="modallogo1">-->

<div >
<p class="modaltitle" >Forgot Password</p>
<h4 style="font-size: 13px;color: #5c5c5c;margin: 0 0 15px 0;font-family:MyWebFont1;">Please enter your email address</h4>
<div align=left>
<p ng-if="error" style="position:fixed;font-size:11px;margin: 0px 0 0px 105px;font-family:MyWebFont1;color:red;">Please Enter a Valid Email Id </p>
</div>
<div align=left>
<p ng-if="error1 == 1" style="position:fixed;font-size:11px;margin: 0px 0 0px 105px;font-family:MyWebFont1;color:red;">Password reset attempt limit exceeded, please try after some time.</p>
</div>
<div align=left>
<p ng-if="error1 == 2" style="position:fixed;font-size:11px;margin: 0px 0 0px 105px;font-family:MyWebFont1;color:red;">Invalid user Email Id!</p>
</div>
<div align=left>
<p ng-if="error1 == 3" style="position:fixed;font-size:11px;margin: 0px 0 0px 105px;font-family:MyWebFont1;color:red;">Invalid verification code provided, please try again.</p>
</div>
<div align=left>
<p ng-if="error1 == 4" style="position:fixed;font-size:11px;margin: 0px 0 0px 105px;font-family:MyWebFont1;color:red;">Please check your internet connection!</p>
</div>
<div align=left>
<p ng-if="error1 == 5" style="position:fixed;font-size:11px;margin: 0px 0 0px 105px;font-family:MyWebFont1;color:red;">Please Activate your Account.</p>
</div>
<input style="background-image: url('lib/images/nmail.png');margin:20px 0 0 0 ! important;" ng-keypress="myFunct($event)" class="logindetemail" autofocus type="email" ng-model="user.email" placeholder="Email">
</div>

<div>
<button class="signupbutton" style="margin-bottom: 60px ! important" type="button" ng-click="next()">Next</button>
</div>

</div>


</div>