<div  >
<button style="margin: 10px 15px 0 0 !important" type="button" class="close"  ng-click="close()" ><span >&times;</span></button>
<div ng-show="loading" class="loader loader-default is-active"></div>
<div align="center" style="height:100%;width:100%;overflow:hidden;padding: 20px;">
<div class="appbox1" align="center" > 

<img class="applogo" src="lib/images/EnhanzED.png" > 
<div ng-keypress="myFunct($event)">
<div>
<p style="font-size:16px;margin: 20px 0 20px 0px;font-family:MyWebFont1;color:#5c5c5c;">Enter your Organization Code</p>
</div>
<div >
<p ng-if="error == true" style="font-size:11px;margin: -20px 0 0px 116px;font-family:MyWebFont1;color:red;position: fixed;">Organization code must be at least of 3 characters</p>
<p ng-if="error2 == true" style="font-size:11px;margin: -20px 0 0px 155px;font-family:MyWebFont1;color:red;position: fixed;">Please enter Organization Code </p>
<p ng-if="error1 == true" style="position:fixed;font-size:11px;margin: -20px 0 0px 155px;font-family:MyWebFont1;color:red;">Invalid Organization Code</p>
</div>
<div >
<input style="" class="orgid" type="text" ng-model="oid" autofocus placeholder="">
</div>
<div >
<button class="submitbutton" style="margin: 00px 0 20px 0 ! important;" type="button" ng-click="submit()">Submit</button>

</div>

</div>


</div>

</div>
</div>