<div class="container">
<div ng-show="loading" class="loader loader-default is-active"></div>
<div ng-if="showpage" style="padding: 0 0 0 0;">
<div ng-if="!online" align=center class="offline">
<p style="color:white;margin: 16px 0 0 0;font-size:15px;font-family:MyWebFont;">You are offline. Please check your internet connectivity.</p>
</div>

<div ng-style="myObj" >

<img src="" class="blackimg1" ng-style="img">

</div>



</div>




</div>

<div  ng-if="showapppage" class="col-12">
<div ng-include="'mobilepage.html'"></div>
</div>

