<div class="container" >

<div ng-if="showpage" style="padding: 0 0 40px 0;">
	<div ng-controller="headerCtrl">
	  <div ng-include="'header.html'">
	  </div>
	</div>
<div ng-if="!online" align=center class="offline">
<p style="color:white;margin: 16px 0 0 0;font-size:15px;font-family:MyWebFont;">You are offline. Please check your internet connectivity.</p>
</div>

<div ng-style="myObj" style="height:225px;position: relative;text-align: center;">

<div class="centeredphoto">
<img src="{{imgsrc}}" class="userphoto">
</div>

<div class="centeredname">
{{username}}
</div>
<div ng-if="false" class="centerededit">
<button class="editprofile"> Edit Profile</button>
</div>
</div>
		<div align="center">
		<div align="center" class="topicprofilestatus" >
		<div class="profilebox1"  style="border-left: 1px solid #a5a6a6;">
				<img src="lib/images/inprogress.png" class="topicproimg">
				<p class="topicpronum"> {{inprogress}}</p>
				<p>Topics In-progress</p>
			</div>
			<div  class="profilebox1">
				<img src="lib/images/tcompleted.png" class="topicproimg" >
				<p class="topicpronum"> {{tcompleted}}</p>
				<p>Topics Completed</p>
			</div>
			<div class="profilebox1">
				<img src="lib/images/badges.png" class="topicproimg">
				<p class="topicpronum">{{ certs.length == undefined ? 0 : certs.length }}</p>
				<p>{{ ctype === '0' ? 'Certificates' : 'Badges'}} Claimed</p>
			</div>
			</div>
		</div>


		<div align=center>


<div align=center style="background-color:#fff;overflow:hidden;border-bottom: 1px solid #E4E4E4;border-top: 1px solid #E4E4E4;">
<div  class="topiccontent">
<!-- <button ng-click="" class="bactive" > My {{ ctype === '0' ? 'Certificates' : 'Badges'}} </button> -->
<ul class="viewscrollheading" style="padding: 0; margin: 0;">
	<li class="viewlistactive" 
		style=" padding: 17px 30px;font-size: 14px;font-weight: normal;font-family: 'MyWebFont1';line-height: 10px;">My {{ ctype === '0' ? 'Certificates' : 'Badges'}}</li>
	
</ul>	
</div>
</div>

<div ng-if="!hascertificates" align="center" style="margin: 160px 0%;font-family:MyWebFont1;">
<div><img src="lib\images\badgess.png"  width="125px;" height="125px" style=" margin-top: -110px;"></div>
<p style="color:grey;font-size:16px;">You currently do not have any {{ ctype === '0' ? 'certificates' : 'badges'}}</p>
</div>

<div ng-if="hascertificates" style="width:950px;padding: 0 0 60px 0;overflow:hidden;"  >
<div  ng-repeat="certificate in certs" class="certs" >
<div class="cimagediv">
<img src="lib/images/cert.png" class="cimage"> 
</div >
<div ng-if="ctype === '0'" class="cdownload">
<img ng-click="downloadcert(certificate.TN,certificate.TID)" src="lib/images/download.png" class="cdownloadimage"> 
</div >
<div ng-if="ctype === '0'" class="cheader" >
<a ng-click="viewcertificate(certificate.TID)"   style="font-size:13px;margin: 7px 0 0 0;padding:0;text-align:left;float:left;color:black;font-family: "MyWebFont1";"> {{certificate.TN}}</a>
</div>
<div ng-if="ctype === '1'" class="cheader" >
<p style="font-size:13px;margin: 7px 0 0 0;padding:0;text-align:left;float:left;color:black;font-family: "MyWebFont1";"> {{certificate.TN}}</p>
</div>
<div class="cfooter">
<p style="text-align:left;font-size:11px;font-family: "MyWebFont1";">{{certificate.CDATE}}</p>
</div>

</div>
</div>


</div>


</div>


<div  ng-if="errorpage" align=center class="col-12" >
<div ng-if="!online" align=center class="offline">
<p style="color:white;margin: 16px 0 0 0;font-size:15px;font-family:MyWebFont;">You are offline. Please check your internet connectivity.</p>
</div>
<p ng-if="!online" style="margin: 25% 0 0 0;font-size:18px; ">Oops!!! Internet connectivity was lost during page navigation. Page will be reloaded once the connectivity is restored.</p>
<p ng-if="online && othererrmsg" style="margin: 25% 0 0 0;font-size:18px; ">Oops!!! Something went wrong please reload the page.</p>
</div>

<div ng-if="showpage" class="footer">
<p style="color:#fff;float: left;line-height:20px ! important;font-size:13px; margin:21px 0 20px 50px;display: inline;">©</p>
<p style="color:#fff;float: left;line-height:20px ! important;font-size:12px; margin:20px 0 20px 3px;display: inline;">2019 EnhanzED Education (P) Ltd.</p>
<a style="color:#fff;float: right;line-height:25px ! important;font-size:12px; margin:17.5px 50px 17.5px 0px;" href="#privacypolicy"> Privacy Policy </a>
<p style="color:#fff;float: right;line-height:25px ! important;font-size:12px; margin:17.5px 10px 17.5px 10px;"> | </p>
<a style="color:#fff;float: right;line-height:25px ! important;font-size:12px; margin:17.5px 0px 17.5px 0px;" href="#T&C"> Terms & Conditions</a>

</div>
</div>

<div  ng-if="showapppage" class="col-12">
<div ng-include="'mobilepage.html'"></div>
</div>

