<div ng-if="showpage">
<div ng-show="loading" class="loader loader-default is-active"></div>

<div class="quizarea" align=left ng-if="inProgress">
	<div class="quiz" ng-show="showquestion" ng-repeat="question in filteredQuestions" >
	<div class="quizprogress">
    <div align=center  class="progress">
   
        <div class="progress-bar" role="progressbar" aria-valuenow="{{completed}}%" aria-valuemin="0" aria-valuemax="100" style="width:{{completed}}%">
    </div>
    </div>
    </div>
	<div class="quizheight" >
	<p>Question {{currentPage}} of {{qitems}}.</p>
		<h2><span ng-bind-html="question.istem"></span></h2>
		<!-- <img ng-show="showimage" src="/home/preethamabbur/eclipse-workspace/AndriodQuiz/WebContent/{{imageurl}}" style="overflow: auto;width: 100%;height: auto; margin-left: 0px;margin-right: 0px;margin-top: 10px;margin-bottom: 10px;border: none;">  --> 
		<img ng-show="showimage" src="{{imgurl}}{{imageurl}}" style="overflow: auto;width: 100%;height: auto; margin-left: 0px;margin-right: 0px;margin-top: 10px;margin-bottom: 10px;border: none;"> 
		<ol style="padding-left: 22px;">
		<div ng-repeat="option in question.iopts" ng-if="question.questiontype == undefined">
		
			<li style="list-style-type: upper-alpha;" >
				<section class="plan cf" style="display: flex;">
					<input type="radio" name="answer"  ng-disabled="iisenable" ng-change="change(question, option)" ng-model="option.Selected" id="{{option.content}}" value="{{option.correct}}">
					<label class="label four col" for="{{option.content}}"><span ng-bind-html="option.content"></span> </label>
					<div class=" bottom" style="position: absolute;border: 1px solid #a6a6a6;border-radius: 4px;width: 66%;margin-left: 8px;margin-top: -85px;z-index:99;
    					background-color: white;" ng-if="iisenable && option.Selected && option.feedback != undefined" ng-show="showPopover" > <div id="chevron"></div>
                            <h3 class="popover-title">feedback</h3>
                             <div class="popover-content">
                                <p>{{option.feedback}}</p>
                            </div></div>		
					<div ng-if="option.correct=='true'" ng-show="cwicon" align="center" style="align-self: center;"><img alt="yes" src="lib/images/correct.png" style="width: 12px;margin-top: 5px;"></div>
					<div ng-if="option.correct=='false'" ng-show="cwicon" align="center" style="align-self: center;"><img alt="yes" src="lib/images/wrong.png" style="width: 12px;margin-top: 5px;"></div>
				</section>
			</li>
		
		</div>
		<div ng-if="question.questiontype != undefined">
		<input type="text" name="answer"  style="padding: 6px;width: 625px;margin-left: -19px;border: 1px solid #c6c6c6;" ng-model="question.shortans"  ng-change="change(question, option)" >
		</div>
		</ol>
	</div>
	<div>
	<button class="nextbutton cmnbuttonnew" ng-disabled="!isenable" ng-click="checkisCorrect(question,currentPage);"  ng-show="issnext">Submit</button>
	<button class="nextbutton cmnbuttonnew" ng-disabled="!isenable" ng-click="goTo(currentPage + 1);isCorrect(question);"  ng-show="isnext">Next</button>
	<button class="exitbutton"  class="button1" ng-click="exitquiz()">Exit Quiz</button>
	</div>
	<div>
	<button class="nextbutton cmnbuttonnew" ng-disabled="!isenable" ng-click="isCorrect(question);onsubmit();" ng-show="submit">Submit</button>
	<button class="nextbutton cmnbuttonnew" ng-disabled="!isenable" ng-click="exitquizcmpl()" ng-show="frsubmit">Complete</button>
	</div>
	<div>
	
	</br>
	</div>
	</div>
	</div>
	
	<div align=center ng-show="quizOver">
	
	<div id="score" ng-show="per < 75" > 
		
		</br>
		</br>
		<p style="color: #484848">Your Score</p>
	
		     <div class="clearfix">

                    <div class="c100 p{{((score/(qitems)) * 100).toFixed()}} big orange">
                    <span>{{per}}%</span>
                    <div class="slice">
                        <div class="bar"></div>
                        <div class="fill"></div>
                    </div>
                	</div>
                	</div>
                	
                
		<p style="margin:20px 0 0 0;color: #484848">AW Snap! You need to score at-least 75% to complete the quiz.</p>
		<div>
		<button  class="nextbutton cmnbuttonnew" ng-click="reset()">Try Again</button>
		</div>
		<div>
		<button class="exitbutton1"  ng-click="exitquiz()">Exit Quiz</button>
		</div>
		
	</div>
	
	<div id="score" ng-show="per >= 75" > 
		<br>
	
		<p>Your Score</p>
		<div class="clearfix">

                    <div class="c100 p{{((score/(qitems)) * 100).toFixed()}} big orange">
                    <span>{{per}}%</span>
                    <div class="slice">
                        <div class="bar"></div>
                        <div class="fill"></div>
                    </div>
                	</div>
                	</div>
		<p style="margin:20px 0 0 0">Congratulations!!! You have successfully completed the quiz.</p>
		<percent-circle percent="100" colors="{center:'green'}"></percent-circle>
		<button class="nextbutton" ng-click="complete()"">Exit Quiz</button>
		
	</div>
	<br>
	<br>
	
	</div>

</div>
</div>

<div  ng-if="showapppage" class="col-12">

</div>
