<div class="container">
<div ng-if="showpage" style="padding: 0 0 100px 0;">
<div style="overflow:hidden;">
<div ng-controller="headerCtrl">
  <div ng-include="'header.html'">
  </div>
</div>
<div ng-if="!online" align=center class="offline">
<p style="color:white;margin: 16px 0 0 0;font-size:15px;font-family:MyWebFont;">You are offline. Please check your internet connectivity.</p>
</div>
<div ng-show="loading" class="loader loader-default is-active">
</div>
<div ng-style="myObj" style="height:112.5px;position: relative;text-align: center;">

<img src="lib/images/black.png" class="blackimg2">

<div class="centeredhome2">
{{search}}
</div>
</div>

<!-- <h3 style="color:#999999;text-align: left;margin: 30px 0 0 18%;border-bottom: 2px solid grey;width:64%;padding: 0 0 5px 0;">{{search}}</h3> -->
<div ng-if="showtopics == true" align="center" class="searchresult">
<div ng-repeat="topic in topics" class="searchtopics">

<button  ng-disabled="!online" ng-click="viewtopic(topic.topicid)" style="width:100%;border:none;border-radius:2px;background-color:#fff;padding:0;">
<div class="searchtimage">
<img  src="{{topic.topicimg}}" style="width:100%;height:78px;cursor:pointer;"> 
</div>
<div class="theader">
<p><a align="left"  style="color:#484848;font-family:MyWebFont1">{{topic.ttitle}}</a>
<p></p>
</p>
</div>
<div class="tfooter">
<p style="float: left;font-family:MyWebFont1">{{topic.noofnuggets}} Nuggets</p>
<p style="float: right;font-size: 12px;font-family:MyWebFont1"><img src="lib/images/timer.png" class="timerimg" style="margin: 2px 4px  0 0"> {{topic.tduration}} m</p>
</div>

</button>
 </div>
</div>


<div ng-if="showtopics == false">
<div align="center" style="width:100%;margin: 19% 3%;">
<p style="color:grey;font-size:20px;">No Topics to Display!</p>
</div>
</div>
</div>
</div>


<div  ng-if="errorpage" align=center class="col-12" >
<div ng-if="!online" align=center class="offline">
<p style="color:white;margin: 16px 0 0 0;font-size:15px;font-family:MyWebFont;">You are offline. Please check your internet connectivity.</p>
</div>
<p style="margin: 25% 0 0 0;font-size:18px; ">Oops!!! Something went wrong please reload the page.</p>
</div>

<div ng-if="showpage" class="footer">
<p style="color:#fff;float: left;line-height:20px ! important;font-size:13px; margin:21px 0 20px 50px;display: inline;">©</p>
<p style="color:#fff;float: left;line-height:20px ! important;font-size:12px; margin:20px 0 20px 3px;display: inline;">2019 EnhanzED Education (P) Ltd.</p>
<a style="color:#fff;float: right;line-height:25px ! important;font-size:12px; margin:17.5px 50px 17.5px 0px;" href="#privacypolicy"> Privacy Policy </a>
<p style="color:#fff;float: right;line-height:25px ! important;font-size:12px; margin:17.5px 10px 17.5px 10px;"> | </p>
<a style="color:#fff;float: right;line-height:25px ! important;font-size:12px; margin:17.5px 0px 17.5px 0px;" href="#T&C"> Terms & Conditions</a>

</div>
</div>

<div  ng-if="showapppage" class="col-12">
<div ng-include="'mobilepage.html'"></div>
</div>
