
<!-- Added for add user screen -->
<div ng-show="loading" class="loader loader-default is-active"></div>

<div  class="modal-content">

<button style="margin: 5px 10px 0 0" type="button" class="close" data-dismiss="modal" ng-click="close()" aria-label="Close"><span >&times;</span></button>

<div align=center>
<img src="lib/images/EnhanzED.png" style="margin: 50px 0 ! important;" class="applogo">
<div align=left>
<p ng-if="error == 1" style="position:fixed;font-size:11px;margin: -17px 0 0px 111px;font-family:MyWebFont1;color:red;">Please enter a user name </p>
</div>
<div align=left>
<p ng-if="error == 3" style="position:fixed;font-size:11px;margin: -17px 0 0px 111px;font-family:MyWebFont1;color:red;">Name should accept a-z, A-Z, 0-9, (Name should always start with characters) </p>
</div>
<div align=left>
<p ng-if="error == 5" style="position:fixed;font-size:11px;margin: -17px 0 0px 111px;font-family:MyWebFont1;color:red;">Entered passwords do not match!</p>
</div>
<div >
<input style="background-image: url('lib/images/npic.png');" class="logindet" ng-model="name" placeholder="Name" autofocus ng-keypress="myFunct($event)">
</div>
<div align=left>
<p ng-if="error1" style="position:fixed;font-size:11px;margin: -17px 0 0px 111px;font-family:MyWebFont1;color:red;">Enter valid Email ID </p>
</div>
<div >
<input style="background-image: url('lib/images/nmail.png');" class="logindetemail" type="email" ng-model="email" placeholder="Email" ng-keypress="myFunct($event)">
</div>
<div align=left>
<p ng-if="error2 == 0" style="position:fixed;font-size:11px;margin: -17px 0 0px 111px;font-family:MyWebFont1;color:red;">Password must be at least 8 characters</p>
</div>
<div align=left>
<p ng-if="error2 == 1" style="position:fixed;font-size:11px;margin: -17px 0 0px 111px;font-family:MyWebFont1;color:red;">Invalid password format</p>
</div>
<div >
<input style="background-image: url('lib/images/npwd.png');" class="logindet" type="password" ng-model="pwd" placeholder="Password" ng-keypress="myFunct($event)">
</div>
<div align=left>
<p ng-if="error3 == 0" style="position:fixed;font-size:11px;margin: -17px 0 0px 111px;font-family:MyWebFont1;color:red;">Password must be at least 8 characters</p>
</div>
<div align=left>
<p ng-if="error3 == 1" style="position:fixed;font-size:11px;margin: -17px 0 0px 111px;font-family:MyWebFont1;color:red;">Invalid password format</p>
</div>
<div align=left>
<p ng-if="error3 == 2" style="position:fixed;font-size:11px;margin: -17px 0 0px 111px;font-family:MyWebFont1;color:red;">Password and Confirm password does not match!</p>
</div>
<div >
<input style="background-image: url('lib/images/npwd.png');margin-bottom:5px ! important;" class="logindet" type="password" ng-model="cpwd" placeholder="Confirm Password" ng-keypress="myFunct($event)">
</div>
<div align=left>
<p style="font-size:11px;margin: 0px 111px 0px 105px;font-family:MyWebFont1;color:#999999;">* Password should be at least 8 characters, contain at least one lowercase letter & one number & one special character.
</p>
</div>
<div>
<button class="signupbutton" type="button" ng-click="signup()">Sign Up</button>
</div>
<div >
<p style="font-size:13px;margin: 10px 0 32px 0;font-family:MyWebFont1;">Already have an account? <button class="signup" type="button"  ng-click="login();">Login</button></p>
</div>

</div>


</div>




