<div class="container">

<div ng-if="showpage" style="padding: 0 0 60px 0;">
	<div ng-if="header2" ng-controller="header2Ctrl">
	  <div ng-include="'header2.html'">
	  </div>
	</div>
	<div ng-if="header1" ng-controller="headerCtrl">
	<div ng-controller="headerCtrl">
	  <div ng-include="'header.html'">	  
	  </div>
	  </div>
	</div>
	

<div ng-if="!online" align=center class="offline">
<p style="color:white;margin: 16px 0 0 0;font-size:15px;font-family:MyWebFont;">You are offline. Please check your internet connectivity.</p>
</div>



<div align=center>

<div ng-style="myObj" style="height:112.5px;position: relative;text-align: center;">

<img src="lib/images/black.png" class="blackimg2">

<div class="centeredhomepri">
Terms & Conditions
</div>
</div>

<div   class="privacypol">


<h3 style="color:black;text-align:left;margin:50px 0 0 0;font-family:MyWebFont1;padding: 50px 20px 20px 20px;font-size: 30px;"> Thank You for using Enhanzed! </h3>

<p style="word-wrap: break-word;text-align: justify;color:black;margin:0px 0 0 0;font-family:MyWebFont1;padding: 10px 20px;font-size: 15px;">A privacy policy is a statement or a legal document (in privacy law) that discloses some or all of the ways a party gathers, uses, discloses, and manages a customer or client's data. It fulfills a legal requirement to protect a customer or client's privacy. A privacy policy is a statement or a legal document (in privacy law) that discloses some or all of the ways a party gathers, uses, discloses, and manages a customer or client's data. It fulfills a legal requirement to protect a customer or client's privacy. A privacy policy is a statement or a legal document (in privacy law) that discloses some or all of the ways a party gathers, uses, discloses, and manages a customer or client's data. It fulfills a legal requirement to protect a customer or client's privacy. A privacy policy is a statement or a legal document (in privacy law) that discloses some or all of the ways a party gathers, uses, discloses, and manages a customer or client's data. It fulfills a legal requirement to protect a customer or client's privacy. A privacy policy is a statement or a legal document (in privacy law) that discloses some or all of the ways a party gathers, uses, discloses, and manages a customer or client's data. It fulfills a legal requirement to protect a customer or client's privacy.</p>
<p style="word-wrap: break-word;text-align: justify;color:black;text-align:left;margin:0px 0 0 0;font-family:MyWebFont1;padding: 10px 20px;font-size: 15px;">A privacy policy is a statement or a legal document (in privacy law) that discloses some or all of the ways a party gathers, uses, discloses, and manages a customer or client's data. It fulfills a legal requirement to protect a customer or client's privacy. A privacy policy is a statement or a legal document (in privacy law) that discloses some or all of the ways a party gathers, uses, discloses, and manages a customer or client's data. It fulfills a legal requirement to protect a customer or client's privacy. A privacy policy is a statement or a legal document (in privacy law) that discloses some or all of the ways a party gathers, uses, discloses, and manages a customer or client's data. It fulfills a legal requirement to protect a customer or client's privacy.</p>

</div>

</div>


</div>

<div ng-if="showpage" class="footer">
<p style="color:#fff;float: left;line-height:20px ! important;font-size:13px; margin:21px 0 20px 50px;display: inline;">©</p>
<p style="color:#fff;float: left;line-height:20px ! important;font-size:12px; margin:20px 0 20px 3px;display: inline;">2019 EnhanzED Education (P) Ltd.</p>
<a style="color:#fff;float: right;line-height:25px ! important;font-size:12px; margin:17.5px 50px 17.5px 0px;" href="#privacypolicy"> Privacy Policy </a>
<p style="color:#fff;float: right;line-height:25px ! important;font-size:12px; margin:17.5px 10px 17.5px 10px;"> | </p>
<p style="color:#fff;float: right;line-height:25px ! important;font-size:12px; margin:17.5px 0px 17.5px 0px;"> Terms & Conditions</p>

</div>
</div>

<div  ng-if="showapppage" class="col-12">
<div ng-include="'mobilepage.html'"></div>
</div>

