<div class="container">
<div ng-if="showpage"  style="padding: 0 0 100px 0 !important;">
<div ng-controller="header2Ctrl">
  <div ng-include="'header2.html'">
  </div>
</div>
<div ng-if="!online" align=center class="offline">
<p style="color:white;margin: 16px 0 0 0;font-size:15px;font-family:MyWebFont;">You are offline. Please check your internet connectivity.</p>
</div>
<div ng-style="myObj" style="height:225px;position: relative;text-align: center;">

<img src="lib/images/black.png" class="blackimg">
<div class="topleft"><img ng-click="homescreen();" src="lib/images/wback.png" class="wback">
</div>
<div class="centered">
{{ttitle}}
</div>
<div class="centered1" >
<button  ng-disabled="!online" ng-click="subscribe()" class="subscribe1">Subscribe</button>
</div>
</div>

<div id="sticky-anchor"></div>

<div id="test1">
<div ng-style="myObj" style="height:65px;text-align: center;">

<img src="lib/images/black.png" class="blackimgtest">
<div class="toplefttest"><img ng-click="homescreen();" src="lib/images/wback.png" class="wbacktest">
</div>
<div class="centeredtest">
{{ttitle}}
</div>
</div>
</div>

<div align=center style="background-color:#fff;overflow:hidden;">
<div  class="topiccontent">
<button ng-click="overview = true;content = false" class="{{overview == true ? 'bactive' : 'binactive'}}"> Overview </button>
<button ng-click="overview = false;content = true" class="{{content == true ? 'bactive' : 'binactive'}}" style="margin:0 0 0 20px;"> Content </button>
</div>
</div>


<div align=center style="background-color:#ededed;overflow:hidden;">
<div   class="topicdesc">
<div ng-if="overview == true"> <p style="min-height:250px;text-align:left;background-color:#fff;width:100%;padding:30px;font-family: 'MyWebFont1';color:#484848;">{{tdescription}}</p> 
</div>

<div ng-if="content == true"> 
<div>
<p style="float: left;font-size: 14px;margin:10px 0;color:#484848;font-family:MyWebFont1;">Nuggets: {{noofnuggets}}</p>
<p style="float: right;font-size: 14px;margin:10px 0;color:#484848;font-family:MyWebFont1;"><img src="lib/images/timer.png" class="timerimg" style="margin: 2px 4px  0 0"> {{tduration}} Mins</p>
</div>

<div style="padding: 0 0 15px 0;margin:2px 0 0 0" id="{{nugget.ntitle}}" class="listobjects" ng-repeat="(indexy,nugget) in nuggets">
<p style="color:black;"><p style="border-bottom: 1px solid #d2d2d2;margin:  0px 0 10px 0px  ! important;padding:10px 0 8px 0! important;width:92%;text-align:left;color: #484848;">{{nugget.ntitle}}</p>
</p>
<div style="margin:0 40px ! important;overflow:hidden;" ng-repeat="object in nugget.objects">
	<div class="activeobjectyes">
				<div >
				
				
				<div ng-if="object.otype == 'video'">
				 <div class="videogrey"></div>
				</div>
				 <div ng-if="object.otype == 'audio'">
				 <div class="audiogrey"></div>
				</div>
				 <div ng-if="object.otype == 'quiz'">
				 <div class="quizgrey"></div>
				 </div>
				 
				 <div ng-if="object.otype == 'html'">
				 <div class="htmlgrey"></div>
				 </div>
				 
				 <div ng-if="object.otype == 'interactivity'">
				 <div class="intergrey"></div>
				 </div>
				 
				<div ng-if="object.otype == 'pdf'">
				 <div class="htmlgrey"></div>
				 </div>
				 
				</div>
	 <p style="color:black;margin: 0 0 0 0  ! important;padding: 0 0 0 0  ! important;">
	
	<p style="margin: 8px 0 0 0  ! important;padding-bottom:0px ! important;width:88%;text-align:left;font-family: 'MyWebFont1';color:#484848;">{{object.otitle}}</p></p>
</div>

</div>

</div>

</div>


</div>
</div>
</div>


<div  ng-if="errorpage" align=center class="col-12" >
<div ng-if="!online" align=center class="offline">
<p style="color:white;margin: 16px 0 0 0;font-size:15px;font-family:MyWebFont;">You are offline. Please check your internet connectivity.</p>
</div>
<p style="margin: 25% 0 0 0;font-size:18px; ">Oops!!! Something went wrong please reload the page.</p>
</div>

<div ng-if="showpage" class="footer">
<p style="color:#fff;float: left;line-height:20px ! important;font-size:13px; margin:21px 0 20px 50px;display: inline;">©</p>
<p style="color:#fff;float: left;line-height:20px ! important;font-size:12px; margin:20px 0 20px 3px;display: inline;">2018 EnhanzED Education (P) Ltd.</p>
<a style="color:#fff;float: right;line-height:25px ! important;font-size:12px; margin:17.5px 50px 17.5px 0px;" href="#privacypolicy"> Privacy Policy </a>
<p style="color:#fff;float: right;line-height:25px ! important;font-size:12px; margin:17.5px 10px 17.5px 10px;"> | </p>
<a style="color:#fff;float: right;line-height:25px ! important;font-size:12px; margin:17.5px 0px 17.5px 0px;" href="#T&C"> Terms & Conditions</a>

</div>

</div>

<div  ng-if="showapppage" class="col-12">
<div ng-include="'mobilepage.html'"></div>
</div>


<script>function sticky_relocate() {
    var window_top = $(window).scrollTop();
    var div_top = $('#sticky-anchor').offset().top;
    if (window_top > div_top) {
        $('#test1').addClass('stick');
        $('#sticky-anchor').height($('#test1').outerHeight());
    } else {
        $('#test1').removeClass('stick');
        $('#sticky-anchor').height(0);
    }
}

$(function() {
    $(window).scroll(sticky_relocate);
    sticky_relocate();
});</script>


