
<div class="container" id="divID"  >

<div ng-if="showpage" style="padding: 0 0 60px 0;" ng-keypress="myFunct($event)" >
<div ng-controller="headerCtrl">
  <div ng-include="'header.html'">
  </div>
</div>
<div ng-if="!online" align=center class="offline">
<p style="color:white;margin: 16px 0 0 0;font-size:15px;font-family:MyWebFont;">You are offline. Please check your internet connectivity.</p>
</div>

<div align="center" >
<div style="overflow:hidden;"  ng-if="showcategories == true" class="mytopics">

<div align="left">
<h3 style="font-size:20px;width: 50%;padding-bottom:6px; color:#484848;text-align:left;margin:30px 0 0 0;font-family:MyWebFont1;background:
    linear-gradient(
      to right, 
      #808080 40%,
      #EBEBEB 100%
    )
    left 
    bottom
    transparent
    no-repeat; 
  background-size:100% 1px; ">Categories</h3>
</div>
<div ng-repeat="category in cats" class="topics" style="height:122.5px ">
<button  ng-disabled="!online" ng-click="opentopic(topic)" style="width:100%;border:none;border-radius:15px;background-color:#fff;padding:0;">
<div >

<img  src="{{category.categoryimg}}" alt="Topic Image" style="border-radius: 15px;width:100%;height:122.5px;cursor:pointer;"> 

</div>
<p style="margin: -75px;"><a align="left" style="color:white;font-size:14px;font-family: 'MyWebFont1';">{{category.category}}</a></p>
</button>

 </div>

</div>
</div>
</div>

<div  ng-if="errorpage" align=center class="col-12" >
<div ng-if="!online" align=center class="offline">
<p style="color:white;margin: 16px 0 0 0;font-size:15px;font-family:MyWebFont;">You are offline. Please check your internet connectivity.</p>
</div>
<!-- <p style="margin: 25% 0 0 0;font-size:18px; ">Oops!!! Something went wrong please reload the page.</p> -->
<p ng-if="!online" style="margin: 25% 0 0 0;font-size:18px; ">Oops!!! Internet connectivity was lost during page navigation. Page will be reloaded once the connectivity is restored.</p>
<p ng-if="online && othererrmsg" style="margin: 25% 0 0 0;font-size:18px; ">Oops!!! Something went wrong please reload the page.</p>
</div>

<div ng-if="showpage" class="footer">
<p style="color:#fff;float: left;line-height:20px ! important;font-size:13px; margin:21px 0 20px 50px;display: inline;">©</p>
<p style="color:#fff;float: left;line-height:20px ! important;font-size:12px; margin:20px 0 20px 3px;display: inline;">2018 EnhanzED Education (P) Ltd.</p>
<p style="color:#fff;float: right;line-height:25px ! important;font-size:12px; margin:17.5px 0px 17.5px 0px;" href="#T&C"> v 1.0.1 &nbsp</p>
<a style="color:#fff;float: right;line-height:25px ! important;font-size:12px; margin:17.5px 50px 17.5px 0px;" href="#privacypolicy"> Privacy Policy </a>
<p style="color:#fff;float: right;line-height:25px ! important;font-size:12px; margin:17.5px 10px 17.5px 10px;"> | </p>
<a style="color:#fff;float: right;line-height:25px ! important;font-size:12px; margin:17.5px 0px 17.5px 0px;" href="#T&C"> Terms & Conditions</a>


</div>
</div>

<div  ng-if="showapppage" class="col-12">
<div ng-include="'mobilepage.html'"></div>
</div>

